@{
    var KeyId = ViewBag.ID;
}

<form id="modelUserForm" lay-filter="modelUserForm" class="layui-form model-form">
    <input name="PaperId" type="hidden" value="@ViewBag.ID" />
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">科目分类</label>
            <div class="layui-input-inline">
                <select name="SubjectId" lay-filter="SubjectId"></select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">科目</label>
            <div class="layui-input-inline">
                <select name="ProjectId" id="ProjectId" lay-filter="ProjectId"></select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">单元</label>
            <div class="layui-input-inline">
                <select name="UnitId" id="UnitId"></select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">试卷编号</label>
            <div class="layui-input-inline">
                <input type="text" name="PaperCode" id="PaperCode" class="layui-input" />
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">分数线</label>
            <div class="layui-input-inline">
                <input type="text" name="AvgScore" id="AvgScore" class="layui-input"/>
            </div>
        </div>
    </div>
    <div class="layui-form-item positionbottomtop"></div>
    <div class="layui-form-item text-right positionbottom">
        <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        <button class="layui-btn" lay-filter="modelUserSubmit" lay-submit>保存</button>
    </div>
</form>

@section css{
    <style>
        .ke-container {
            margin-left: 33px !important;
        }

        .ke-edit, .ke-edit-iframe, .ke-edit-textarea {
            height: 266px !important;
        }
    </style>
}

@section js{
    <!-- js部分 -->
    <link href="~/kindeditor/themes/default/default.css" rel="stylesheet" />
    <script>
    layui.use([ 'form', 'admin', 'adminForm'], function () {
        var KeyId = '@KeyId';
        var $ = layui.jquery;
        var form = layui.form;
        var admin = layui.admin;
        var adminForm = layui.adminForm;

        var App = {
            Load: function () {
                adminForm.load({
                    formName: 'modelUserForm',
                    KeyId: '@KeyId',
                    url: "@Url.Action("Find")",
                    dataType: 'json',
                    callBack: function (r) {
                        adminForm.load({
                        url: "@Url.Action("QuerySubject","ContracUser")",
                        dataType: 'json',
                        callBack: function (rou) {
                            if (rou.data != null) {
                                var result = rou.data;
                                for (var i = 0; i < result.length; i++) {
                                    if (r != undefined && r.SubjectId > 0) {
                                        if (r.SubjectId == result[i].SubjectId) {
                                            bindProject(r.SubjectId, r.ProjectId, r.UnitId);
                                            $("select[name='SubjectId']").append('<option value = ' + result[i].SubjectId + ' selected>' + result[i].SubjectName + '</option>');
                                        }
                                        else {
                                            $("select[name='SubjectId']").append('<option value = ' + result[i].SubjectId + '>' + result[i].SubjectName + '</option>');
                                        }
                                    } else {
                                        $("select[name='SubjectId']").append('<option value = ' + result[i].SubjectId + '>' + result[i].SubjectName + '</option>');
                                        if (i == 0) {
                                            bindProject(result[i].SubjectId,null,null);
                                        }
                                    }
                                }
                            }
                        }
                        });
                    }
                });
            },
            Save: function (data) {
                if (data.field.PaperCode == null||data.field.PaperCode=="") {
                    layer.msg("请添加试卷编号");
                    return false;
                }
                if (data.field.AvgScore == null || data.field.AvgScore == "") {
                    layer.msg("请添加分数线");
                    return false;
                }
                adminForm.Save({
                    url: KeyId ? '@Url.Action("SaveInfo")' : '@Url.Action("SaveInfo")',
                    data: data.field,
                    callBack: function () {
                        admin.closeThisDialog();
                    }
                })
            }
        }
        App.Load();
        form.on('select(SubjectId)', function (data) {
            var subjectId = data.value;
            bindProject(subjectId, null, null);
        });
        form.on('select(ProjectId)', function (data) {
            var projectId = data.value;
            bindUnit(projectId,null);
        });
        // 表单提交事件
        form.on('submit(modelUserSubmit)', function (data) {
            App.Save(data);
            return false;
        });
    });
        function bindProject(subjectId, defaultProjectId,defaultUnitId) {
            layui.use(['adminForm'], function () {
                var adminForm = layui.adminForm;
               adminForm.load({
                url: "@Url.Action("QueryProject","ProjectUnit")",
                data: { subjectId: subjectId},
                dataType: 'json',
                callBack: function (rou) {
                    if (rou.data != null) {
                        $("select[name='ProjectId']").html("");
                        var result = rou.data;
                        for (var i = 0; i < result.length; i++) {
                            if (defaultProjectId != undefined && defaultProjectId != null && defaultProjectId > 0) {
                                if (defaultProjectId == result[i].ProjectId) {
                                    bindUnit(defaultProjectId, defaultUnitId);
                                    $("select[name='ProjectId']").append('<option value = ' + result[i].ProjectId + ' selected>' + result[i].ProjectName + '</option>');
                                }
                                else {
                                    $("select[name='ProjectId']").append('<option value = ' + result[i].ProjectId + '>' + result[i].ProjectName + '</option>');
                                }
                            }
                            else {
                                if (defaultProjectId == null && i == 0) {
                                    bindUnit(result[i].ProjectId,null);
                                }
                                $("select[name='ProjectId']").append('<option value = ' + result[i].ProjectId + '>' + result[i].ProjectName + '</option>');
                            }
                        }
                    }
                }
              });
            });
        }
        function bindUnit(projectId, defaultUnitId) {
            layui.use(['adminForm'], function () {
               var adminForm = layui.adminForm;
               adminForm.load({
                url: "@Url.Action("GetProjetUnitByProjectId", "ProjectUnit")",
                data: { projectId: projectId},
                dataType: 'json',
                callBack: function (rou) {
                    if (rou.data != null) {
                        $("select[name='UnitId']").html("");
                        var result = rou.data;
                        for (var i = 0; i < result.length; i++) {
                            if (defaultUnitId != undefined && defaultUnitId != null && defaultUnitId > 0 && defaultUnitId == result[i].UnitId) {
                                $("select[name='UnitId']").append('<option value = ' + result[i].UnitId + ' selected>' + result[i].UnitName + '</option>');
                            }
                            else {
                                $("select[name='UnitId']").append('<option value = ' + result[i].UnitId + '>' + result[i].UnitName + '</option>');
                            }
                        }
                    }
                }
              });
            });
        }
    </script>
}