@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">关键字：</label>
                        <div class="layui-input-inline mr0">
                            <input id="txtTitle" class="layui-input" type="text" placeholder="输入标题" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button id="btnSearch" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
                    </div>
                </div>
            </div>

            <table class="layui-table" id="userTable" lay-filter="userTable"></table>
        </div>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="tableBar">

</script>

@section css{
    <link rel="stylesheet" href="/assets/module/formSelects/formSelects-v4.css" />
   <style>
       .layui-table-cell {
           height: auto;
           line-height: 28px;
       }
       .layui-table img {
           max-width: 600px;
       }
   </style>
}
@section js{
    <!-- js部分 -->
    <script>
layui.use(['form', 'util', 'admin', 'adminList'], function () {
    var $ = layui.jquery;
    var util = layui.util;
    var admin = layui.admin;
    var adminList = layui.adminList;

    // 渲染表格
    var insTb = adminList.tableLayUI({
        elem: '#userTable',
        url: '@Url.Action("GetDataSource")',
        page: true,
        cellMinWidth: 100,
        cols: [[
            { type: 'numbers' },
            { field: 'Student_Name', title: '学生名称', sort: true },
            { field: 'Sex', title: '性别', sort: true },
            { field: 'Grade', title: '年级', sort: true },
            { field: 'Student_Phone', title: '手机', sort: true },
            { field: 'Elder_Name', title: '联系人', sort: true },
            { field: 'CC_UserName', title: '顾问拥有者', sort: true },
            { field: 'Default_CC_UserName', title: '顾问转移者', sort: true },
            { field: 'CR_Uid', title: 'CR', sort: true },
            { field: 'CampusName', title: '校区', sort: true },
            { field: 'IsVisitName', title: '是否上门', sort: true },
            { field: 'Visit_Date', title: '上门日期', sort: true, width: 100},
            { field: 'ContracRateName', title: '签约可能性', sort: true },
            { field: 'Follow_Date', title: '跟踪日期', sort: true, width: 100 },
            { field: 'Follow_Plan', title: '跟踪计划', sort: true, width: 100 },
            { field: 'Follow_Count', title: '跟进次数', sort: true, width: 100 },
            { field: 'CreateTime', title: '创建时间', sort: true }
        ]]
    });

    // 添加
    $('#btnAdd').click(function () {
        showEditModel();
    });

    // 搜索
    $('#btnSearch').click(function () {
        var title = $('#txtTitle').val();
        insTb.reload({
            where: { title: title }
            , page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    });

    // 工具条点击事件
    adminList.table.on('tool(userTable)', function (obj) {
        var data = obj.data;
        var layEvent = obj.event;
        if (layEvent === 'edit') { // 修改
            showEditModel(data);
        } else if (layEvent === 'del') { // 删除
            doDel(data.Id);
        }
        else if (layEvent === 'Audit') { // 指派线索
            AssignModel(data);
        }
        else if (layEvent === 'record') { // 添加跟踪记录
            AddRecord(data);
        }
    });

    //显示表单弹窗
    function showEditModel(vmodel) {
        adminList.form({
            title: (vmodel ? '修改' : '添加') + '线索',
            type: 2,
            width: "1060px",
            height: "690px",
            content: vmodel ? '@Url.Action("Edit")?ID=' + vmodel.ClueId : '@Url.Action("Add")?ID=0',
            end: function () {
                insTb.reload();
            }
        });
    }
    function AssignModel(vmodel) {
        adminList.form({
            title:'指派线索',
            type: 2,
            width: "1060px",
            height: "435px",
            content:'@Url.Action("SetAssign")?ID=' + vmodel.ClueId,
            end: function () {
                insTb.reload();
            }
        });
    }
    function AddRecord(vmodel) {
        console.log('a');
            adminList.form({
            title:'添加追踪记录',
            type: 2,
            width: "1060px",
            height: "635px",
            content: '@Url.Action("AddRecord")?ID=' + vmodel.ClueId,
            end: function () {
                insTb.reload();
            }
        });

    }
    //删除
    function doDel(Id) {
        adminList.delete('@Url.Action("Delete")', { Id: Id}, function () {
            insTb.reload();
        });
    }

});
    </script>
}