@{
    var KeyId = ViewBag.ID;
}

<form id="modelUserForm" lay-filter="modelUserForm" class="layui-form model-form">
    <input name="Id" type="hidden" value="@ViewBag.ID" />
    <input name="Contra_ChildNo" type="hidden" />
    <div class="layui-form-item" id="teacherPart">
        <div class="layui-inline">
            <label class="layui-form-label" id="lineSpanPigai">上课教师</label>
            <div class="layui-input-block">
                <select name="TeacherUid"></select>
            </div>
        </div>
    </div>
    <div class="layui-form-item" id="meetingPart" style="display:none">
        <label class="layui-form-label">参加会议教师</label>
        <div class="layui-input-block" style="position:relative">
            <input name="meetingUserName" class="layui-input" type="text" autocomplete="off" />
            <div  class="searcMeeting" id="searcMeeting" style="display:none">
                <table style="width:100%;margin-top: 0px;" class="layui-table">
                    <tbody id="meetingUserBody"></tbody>
                </table>
            </div>
            <textarea id="meetingMore" name="meetingMore" style="width:100%;border:1px solid #ddd;height:57px;"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">上课模式</label>
            <div class="layui-input-block">
                <select name="StudyMode" lay-filter="StudyMode">
                    <option value="1">一对一</option>
                    <option value="2">小班</option>
                    <option value="3">休息</option>
                    <option value="4">试听</option>
                    <option value="5">模考</option>
                    <option value="6">实考</option>
                    <option value="7">会议</option>
                    <option value="8">留学规划</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" id="lineSpanDate">上课日期</label>
        <div class="layui-input-block">
            <div id="courseDates"></div>
            <input type="text" name="AT_Date" class="layui-input" id="AT_Date" multiple="multiple" value="@ViewBag.DataStr" style="display:none" />
        </div>
        <div id="date_all"></div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" id="lineSpanTimeRange">上课时段</label>
            <div class="layui-input-block">
                <select name="RangTimeId" lay-filter="RangTimeId"></select>
            </div>
        </div>
    </div>
    <div class="layui-form-item" style="display:none" id="customizedRange">
        <div class="layui-inline">
            <label class="layui-form-label">开始时间</label>
            <div class="layui-input-inline">
                <input type="text" name="StartTime" id="StartTime" class="layui-input" autocomplete="off" />
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">截止时间</label>
            <div class="layui-input-inline">
                <input type="text" name="EndTime" id="EndTime" class="layui-input" autocomplete="off" />
            </div>
        </div>
    </div>
    <div class="layui-form-item" id="PresentPart">
        <div class="layui-inline">
            <label class="layui-form-label">使用赠送课时</label>
            <div class="layui-input-block">
                <select name="IsUsePresent" lay-filter="IsUsePresent">
                    <option value="0">否</option>
                    <option value="1">是</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item" id="OneOfPart">
        <label class="layui-form-label">一对一学员</label>
        <div class="layui-input-block" style="position:relative">
            <input type="hidden" name="SubjectId" />
            <input type="hidden" name="StudentUid" />
            <input type="hidden" name="UserProjectId" />
            <input name="WorkUserName" class="layui-input" type="text" autocomplete="off" />
            <div id="searcUser" class="searcUser">
                <table style="width:100%;margin-top: 0px;" class="layui-table">
                    <tbody id="searcUserbody"></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="layui-form-item" id="PreSendPartUser" style="display:none">
        <label class="layui-form-label">赠送课学员</label>
        <div class="layui-input-block" style="position:relative">
            <input name="PreSendUserName" class="layui-input" type="text" autocomplete="off" />
            <div id="searcPreSend" class="searcPreSend">
                <table style="width:100%;margin-top: 0px;" class="layui-table">
                    <tbody id="searcPreSendbody"></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="layui-form-item" id="ClassPart" style="display:none">
        <label class="layui-form-label">小班</label>
        <div class="layui-input-block" style="position:relative">
            <input name="WorkClassName" class="layui-input" type="text" autocomplete="off" />
            <input type="hidden" name="ClasssId" />
            <div id="searcClass" class="searcClass">
                <table style="width:100%;margin-top: 0px;" class="layui-table">
                    <tbody id="searcClassbody"></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="layui-form-item" style="display:none" id="mockPart">
        <label class="layui-form-label" id="spanMockTitle">模考标题</label>
        <div class="layui-input-block">
            <input type="text" name="mockTitle" id="mockTitle" class="layui-input" placeholder="标题例如:2022-3-08号模考（单元保存后会自动叠加标题后）" />
        </div>
    </div>
    <div class="layui-form-item" id="ListeningPart" style="display:none">
        <label class="layui-form-label" id="spanStudentName">试听学员</label>
        <div class="layui-input-block" style="position:relative">
            <input name="ListeningName" class="layui-input" type="text" autocomplete="off" />
            <div id="searcListen" class="searcListen">
                <table style="width:100%;margin-top: 0px;" class="layui-table">
                    <tbody id="searchListenbody"></tbody>
                </table>
            </div>
            <div id="moreShikaoUser" style="display:none">
                <textarea name="shikaoUsers" id="shikaoUsers" style="width:100%;min-height:60px"></textarea>
            </div>
        </div>
    </div>
    <div class="layui-form-item" id="ListenSubPart" style="display:none">
        <label class="layui-form-label" id="spanCatogalogName">试听分类</label>
        <div class="layui-input-block" style="position:relative">
            <select name="ListenSubject" lay-filter="ListenSubject"></select>
        </div>
    </div>
    <div class="layui-form-item" id="PartProject" style="display:none">
        <label class="layui-form-label">科目</label>
        <div class="layui-input-block">
            <select name="ProjectId" lay-filter="ProjectId"></select>
        </div>
    </div>
    <div class="layui-form-item" id="PartUnit" style="display:none">
        <label class="layui-form-label">科目单元</label>
        <div class="layui-input-block">
            <select name="UnitId"></select>
        </div>
    </div>
    <div class="layui-form-item" id="PartTa"  style="display:none">
        <label class="layui-form-label">督学</label>
        <div class="layui-input-block">
            <select name="TA_Uid"></select>
        </div>
    </div>
    <div class="layui-form-item" id="roomItem">
        <label class="layui-form-label">房间</label>
        <div class="layui-input-block">
            <select name="RoomId"></select>
        </div>
    </div>
    <div class="layui-form-item positionbottomtop"></div>
    <div class="layui-form-item text-right positionbottom">
        @if (@ViewBag.ID != 0)
        {
            <button class="layui-btn layui-icon-delete" type="button" id="couseMovel">删除课程</button>
        }
        <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        <button class="layui-btn" lay-filter="modelUserSubmit" lay-submit>保存</button>
    </div>
</form>

@section css{
    <style>
        .ke-container {
            margin-left: 33px !important;
        }

        .ke-edit, .ke-edit-iframe, .ke-edit-textarea {
            height: 266px !important;
        }

        .searcClass, .searcUser, .searcListen,.searcMeeting {
            position: absolute;
            box-shadow: 0 10px 60px 0 rgb(29 29 31 / 9%);
            background-color: white;
            z-index: 6;
            width: 480px;
            min-height: 200px;
            height: 222px;
            overflow-y: auto;
            display: none;
        }
    </style>
}

@section js{
    <!-- js部分 -->
    <link href="~/kindeditor/themes/default/default.css" rel="stylesheet" />
    <script src="~/assets/libs/xm-select/xm-select.js"></script>
    <script type="text/template" id="ClassWorkTemp">
        {{each data item index}}
        <tr onclick="SetTr('{{item}}')">
            <td>
                <span data-StudyMode="{{item.StudyMode}}" data-childNo="{{item.Contra_ChildNo}}" data-StudentUid="{{item.StudentUid}}" data-SubjectId="{{item.SubjectId}}" data-ProjectId="{{item.ProjectId}}" data-ClasssId="{{item.ClasssId}}">{{item.StudyModeName}}</span>
                {{if item.StudyMode==1}}
                <span>({{item.Course_UseTime}}/{{item.Course_Time}})</span>
                {{else}}
                <span>({{item.Class_Course_UseTime}}/{{item.Class_Course_Time}})</span>
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </script>
    <script type="text/template" id="PreSendTemp">
        {{each data item index}}
        <tr onclick="SetPreSend('{{item}}')">
            <td>
                <span data-childNo="{{item.Contra_ChildNo}}" data-StudentUid="{{item.StudentUid}}">{{item.Student_Name}}</span>
                <span>({{item.Course_UseTime}}/{{item.Course_Time}})</span>
            </td>
        </tr>
        {{/each}}
    </script>
    <script type="text/template" id="ListenTemp">
        {{each data item index}}
        <tr onclick="SetListenTr('{{item}}')">
            <td><span data-StudentUid="{{item.StudentUid}}">{{item.Student_Name}}</span></td>
        </tr>
        {{/each}}
    </script>
    <script type="text/template" id="meetingUserTemp">
        {{each data item index}}
        <tr onclick="SetMeetingTr('{{item}}')">
            <td><span data-teacherName="{{item.Name}}">{{item.Name}}</span></td>
        </tr>
        {{/each}}
    </script>
    <script>
        var currtTime = '@ViewBag.DataStr';
        layui.use(['form', 'admin', 'adminForm', 'laydate'], function () {
        var KeyId = '@KeyId';
        var $ = layui.jquery;
        var form = layui.form;
        var admin = layui.admin;
        var adminForm = layui.adminForm;
        var laydate = layui.laydate;
            var timeList = [];
            if (currtTime != null && currtTime != "") {
                timeList.push({ name:currtTime,value:currtTime,selected: true })
            }
            var courseDates = xmSelect.render({
                el: '#courseDates',
                content: '<div id="laydate" />',
                height: 'auto',
                autoRow: true,
                data: timeList,
                on: function (data) {
                    if (!data.isAdd) {
                        dateSelect(courseDates.getValue('value'));
                    }
                }
        });
        laydate.render({
                elem: '#laydate',
                position: 'static',
                theme: 'molv',      // 墨绿主题
                showBottom: false,  // 不显示底部按钮
                calendar: true,     // 开启公历节日
                format: 'yyyy-MM-dd',
                //min: minDate(),      // 设置最小可选的日期
                change: function () {
                    dateSelect(courseDates.getValue('value'));
                },
                done: function (value) {
                    var values = courseDates.getValue('value');
                    var index = values.findIndex(function (val) {
                        return val === value
                    });

                    if (index != -1) {
                        values.splice(index, 1);
                    } else {
                        values.push(value);
                    }

                    dateSelect(values);

                    courseDates.update({
                        data: values.map(function (val) {
                            return {
                                name: val,
                                value: val,
                                selected: true,
                            }
                        })
                    })
                },
                ready: removeAll,
        });
        laydate.render({
            elem: '#AT_Date',
            type: 'date'
        });
        laydate.render({
            elem: '#StartTime',
            type: 'time',
            format: 'HH:mm',
            ready:formatMinutin
        });
        laydate.render({
            elem: '#EndTime',
            type: 'time',
            format: 'HH:mm',
            ready: formatMinutin
        });
        function removeAll() {
            document.querySelectorAll('#laydate td[lay-ymd].layui-this').forEach(function (dom) {
                dom.classList.remove('layui-this');
            });
        }

        function dateSelect(values) {
            removeAll();
            values.forEach(function (val) {
                var dom = document.querySelector('#laydate td[lay-ymd="' + val.replace(/-0([1-9])/g, '-$1') + '"]');
                dom && dom.classList.add('layui-this');
            });
          }
        // 设置最小可选的日期
        function minDate() {
            var now = new Date();
            return now.getFullYear() + "-" + (now.getMonth() + 1) + "-" + now.getDate();
        }

        var App = {
            Load: function () {
                adminForm.load({
                    formName: 'modelUserForm',
                    KeyId: '@KeyId',
                    url: "@Url.Action("Find")",
                    dataType: 'json',
                    callBack: function (r) {
                        if (r != null && r.Id > 0) {
                            $("#courseDates").css("display", "none");
                            $("#AT_Date").show();
                            $("#roomItem").show();
                        }
                        else {
                            $("#courseDates").show();
                            $("#AT_Date").css("display", "none");
                            $("#roomItem").css("display", "none");
                        }
                        $("#meetingPart").css("display", "none");
                        if (r.StudyMode == 1) {
                            if (r.IsUsePresent == 1) {
                                $("input[name='PreSendUserName']").val(r.ListeningName);
                                $("#PreSendPartUser").css("display", "block");
                                $("#OneOfPart").css("display", "none");
                                $("#ListenSubPart").show();
                                $("#PartProject").show();
                            }
                            else {
                                $("#PartProject").css("display", "none");
                                $("input[name='WorkUserName']").val(r.Work_Title);
                                $("input[name='UserProjectId']").val(r.ProjectId);
                            }
                            $("#PresentPart").css("display", "block");
                        }
                        else if (r.StudyMode == 2) {
                            $("#PartProject").css("display", "block");
                            $("input[name='WorkClassName']").val(r.Work_Title);
                            $("#OneOfPart").css("display", "none");
                            $("#ClassPart").css("display", "block");
                            $("#PresentPart").css("display", "none");
                            $("#PreSendPartUser").css("display", "none");
                            bindProject(r.SubjectId, r.ProjectId, null);
                        }
                        else if (r.StudyMode == 3) {
                            $("#PartTa").css("display", "none");
                            $("#PartProject").css("display", "none");
                            $("#ClassPart").css("display", "none");
                            $("#OneOfPart").css("display", "none");
                            $("#PresentPart").css("display", "none");
                            $("#PreSendPartUser").css("display", "none");
                            $("#lineSpanPigai").text("休假老师");
                            $("#lineSpanDate").text("休息日期");
                            $("#lineSpanTimeRange").text("休息时段");
                        }
                        else if (r.StudyMode == 4) {
                            $("#ClassPart").css("display", "none");
                            $("#OneOfPart").css("display", "none");
                            $("#PresentPart").css("display", "none");
                            $("#PreSendPartUser").css("display", "none");
                            $("#PartProject").show();
                            $("#ListeningPart").show();
                            $("#ListenSubPart").show();
                            $("#lineSpanDate").text("试听日期");
                            $("#lineSpanTimeRange").text("上课时段");
                            $("#spanStudentName").text("试听学员");
                            $("#spanCatogalogName").text("试听分类");
                        }
                        else if (r.StudyMode == 5) {
                            $("input[name='mockTitle']").val(r.Work_Title);
                            $("#ClassPart").css("display", "none");
                            $("#OneOfPart").css("display", "none");
                            $("#PresentPart").css("display", "none");
                            $("#PreSendPartUser").css("display", "none");
                            $("#teacherPart").show();
                            $("#PartProject").show();
                            $("#ListeningPart").show();
                            $("#ListenSubPart").show();
                            $("#lineSpanPigai").text("批改老师");
                            $("#spanMockTitle").text("模考标题");
                            $("#lineSpanDate").text("模考日期");
                            $("#lineSpanTimeRange").text("模考时段");
                            $("#spanStudentName").text("模考学员");
                            $("#spanCatogalogName").text("模考分类");
                            $("#mockPart").show();
                        }
                        else if (r.StudyMode == 6) {
                            $("input[name='mockTitle']").val(r.Work_Title);
                            $("#ClassPart").css("display", "none");
                            $("#OneOfPart").css("display", "none");
                            $("#PresentPart").css("display", "none");
                            $("#PreSendPartUser").css("display", "none");
                            $("#teacherPart").css("display", "none");
                            $("#PartProject").show();
                            $("#ListeningPart").show();
                            $("#ListenSubPart").show();
                            $("#spanMockTitle").text("实考标题");
                            $("#lineSpanDate").text("实考日期");
                            $("#lineSpanTimeRange").text("实考时段");
                            $("#spanStudentName").text("实考学员");
                            $("#spanCatogalogName").text("实考分类");
                            $("#mockPart").show();
                        }
                        else if (r.StudyMode == 7) {
                            $("#PartTa").css("display", "none");
                            $("#PartProject").css("display", "none");
                            $("#ClassPart").css("display", "none");
                            $("#OneOfPart").css("display", "none");
                            $("#PresentPart").css("display", "none");
                            $("#PreSendPartUser").css("display", "none");
                            $("#lineSpanPigai").text("会议老师");
                            $("#lineSpanDate").text("会议日期");
                            $("#lineSpanTimeRange").text("会议时段");
                            $("#spanMockTitle").text("会议标题");
                            $("#mockPart").css("display", "block");
                            $("input[name='mockTitle']").val(r.Work_Title);
                        }
                        else if (r.StudyMode == 8) {
                            $("#ClassPart").css("display", "none");
                            $("#OneOfPart").css("display", "none");
                            $("#PresentPart").css("display", "none");
                            $("#PreSendPartUser").css("display", "none");
                            $("#PartProject").css("display", "none");
                            $("#ListenSubPart").css("display", "none");
                            $("#ListeningPart").show();
                            $("#lineSpanDate").text("上课日期");
                            $("#lineSpanTimeRange").text("上课时段");
                            $("#spanStudentName").text("上课学员");
                        }
                        if (r != null && r.AT_Date != undefined) {
                            $("input[name='AT_Date']").val(dateFtt("yyyy-MM-dd", r.AT_Date.replace(/-/g,'/')));
                        }
                        if (r != null && r.RangTimeId < 1) {
                            $("#customizedRange").css("display", "block");
                        }
                        //绑定教师
                        adminForm.load({
                        url: "@Url.Action("QueryTeacher")",
                        dataType: 'json',
                        callBack: function (rou) {
                            if (rou.data != null) {
                                var result = rou.data;
                                var teacherId ='@ViewBag.teacherId';
                                for (var i = 0; i < result.length; i++) {
                                    if (r != undefined && r.TeacherUid != null && r.TeacherUid == result[i].User_ID) {
                                        $("select[name='TeacherUid']").append('<option value = ' + result[i].User_ID + ' selected>' + result[i].User_Name +'</option>');

                                    } else {
                                        if (teacherId != "" && teacherId == result[i].User_ID && result[i].User_IsDelete != 1) {
                                            $("select[name='TeacherUid']").append('<option value = ' + result[i].User_ID + ' selected>' + result[i].User_Name + '</option>');
                                        }
                                        else {
                                            if (result[i].User_IsDelete != 1) {
                                                $("select[name='TeacherUid']").append('<option value = ' + result[i].User_ID + '>' + result[i].User_Name + '</option>');
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        });
                        //绑定时间范围
                        adminForm.load({
                        url: "@Url.Action("QueryRangeTime")",
                        dataType: 'json',
                        callBack: function (rou) {
                            if (rou.data != null) {
                                var result = rou.data;
                                for (var i = 0; i < result.length; i++) {
                                    if (r != undefined && r.RangTimeId != null && r.RangTimeId == result[i].Id) {
                                        $("select[name='RangTimeId']").append('<option value = ' + result[i].Id + ' selected>' + result[i].TimeName +'</option>');

                                    } else {
                                        $("select[name='RangTimeId']").append('<option value = ' + result[i].Id + '>' + result[i].TimeName + '</option>');
                                    }
                                }
                            }
                        }
                        });
                        //绑定督学
                        adminForm.load({
                        url: "@Url.Action("QueryTa")",
                        dataType: 'json',
                        callBack: function (rou) {
                            if (rou.data != null) {
                                var result = rou.data;
                                for (var i = 0; i < result.length; i++) {
                                    if (r != undefined && r.TA_Uid != null && r.TA_Uid == result[i].User_ID) {
                                        $("select[name='TA_Uid']").append('<option value = ' + result[i].User_ID + ' selected>' + result[i].User_Name +'</option>');

                                    } else {
                                        $("select[name='TA_Uid']").append('<option value = ' + result[i].User_ID + '>' + result[i].User_Name + '</option>');
                                    }
                                }
                            }
                        }
                        });
                        //绑定教室
                        if (r.AT_Date != null && r.StartTime != null && r.EndTime != null) {
                            bindRoom(dateFtt("yyyy-MM-dd", r.AT_Date), r.StartTime, r.EndTime, r.RoomId);
                        }
                        else {
                            bindRoom(null,null,null, r.RoomId);
                        }
                        //绑定试听分类
                        adminForm.load({
                        url: "@Url.Action("QuerySubject","ContracUser")",
                        dataType: 'json',
                        callBack: function (rou) {
                                if (rou.data != null) {
                                    var result = rou.data;
                                    $("select[name='ListenSubject']").html("<option value='0'>-分类-</option>");
                                    for (var i = 0; i < result.length; i++) {
                                        if (r.SubjectId== result[i].SubjectId) {
                                            $("select[name='ListenSubject']").append('<option value = ' + result[i].SubjectId + ' selected>' + result[i].SubjectName + '</option>');
                                            bindProject(r.SubjectId, r.ProjectId, r.UnitId);
                                        }
                                        else {
                                            $("select[name='ListenSubject']").append('<option value = ' + result[i].SubjectId + '>' + result[i].SubjectName + '</option>');
                                        }
                                    }
                            }
                            }
                        });
                    }
                });
            },
            Save: function (data) {
                var selectArr = courseDates.getValue('value');    // 获取value字符串值
                data.field.WorkDateGroup = selectArr;
                data.field.ProjectId=$("select[name='ProjectId']").val();
                if (data.field.StudyMode == 1) {
                    if ($("select[name='TeacherUid']").val() == "") {
                        layer.msg("请选择教师");
                        return false;
                    }
                    var ispresend = $("select[name='IsUsePresent']").val();
                    if (ispresend == 0) {
                        data.field.ProjectId = $("input[name='UserProjectId']").val();
                        data.field.Work_Title = $("input[name='WorkUserName']").val();
                    }
                    else {
                        data.field.Work_Title = "";
                        data.field.ListeningName = $("input[name='PreSendUserName']").val();
                    }
                }
                else if (data.field.StudyMode == 2) {
                    if ($("select[name='TeacherUid']").val() == "") {
                        layer.msg("请选择教师");
                        return false;
                    }
                    data.field.Work_Title = $("input[name='WorkClassName']").val();
                }
                else if (data.field.StudyMode == 4) {
                    if (data.field.ProjectId == null || data.field.ProjectId == "") {
                        layer.msg("试听科目不能为空");
                        return false;
                    }
                }
                else if (data.field.StudyMode == 5) {
                    data.field.arrMockUser = [];
                    var fmtVal = $("#shikaoUsers").val().replaceAll("，", ",");
                    var shikaouserNames = fmtVal.split(",");
                    if (shikaouserNames.length > 0) {
                        shikaouserNames.forEach(item => {
                            if ($.inArray(item, data.field.arrMockUser) == -1) {
                                data.field.arrMockUser.push(item);
                            }
                        });
                    }
                    data.field.Work_Title = $("input[name='mockTitle']").val();
                    if (data.field.Work_Title == "") {
                        layer.msg("模考标题不能为空");
                        return false;
                    }
                    if ($("input[name='Id']").val() < 1) {
                        if ($("#shikaoUsers").val() == "") {
                            layer.msg("模考学员不能为空");
                            return false;
                        }
                    }
                    else {
                        if (data.field.ListeningName == "") {
                            layer.msg("模考学员不能为空");
                            return false;
                        }
                    }
                    if (data.field.ProjectId == null || data.field.ProjectId == "") {
                        layer.msg("模考科目不能为空");
                        return false;
                    }
                }
                else if (data.field.StudyMode == 6) {
                    data.field.arrMockUser = [];
                    var fmtVal = $("#shikaoUsers").val().replaceAll("，", ",");
                    var shikaouserNames = fmtVal.split(",");
                    if (shikaouserNames.length > 0) {
                        shikaouserNames.forEach(item => {
                            if ($.inArray(item.Student_Name, data.field.arrMockUser) == -1) {
                                data.field.arrMockUser.push(item);
                            }
                        });
                    }
                    data.field.Work_Title = $("input[name='mockTitle']").val();
                    if (data.field.Work_Title == "") {
                        layer.msg("实考标题不能为空");
                        return false;
                    }
                    if ($("input[name='Id']").val() < 1) {
                        if ($("#shikaoUsers").val() == "") {
                            layer.msg("实考学员不能为空");
                            return false;
                        }
                    }
                    else {
                        if (data.field.ListeningName == "") {
                            layer.msg("实考学员不能为空");
                            return false;
                        }
                    }
                    if (data.field.ProjectId == null || data.field.ProjectId == "") {
                        layer.msg("实考科目不能为空");
                        return false;
                    }
                    if (data.field.UnitId == null || data.field.UnitId == "") {
                        layer.msg("实考单元不能为空");
                        return false;
                    }
                }
                else if (data.field.StudyMode == 7) {
                    data.field.meetingTeacher = [];
                    data.field.Work_Title = $("input[name='mockTitle']").val();
                    var meetingTeacherArry = $("#meetingMore").val().split(",");
                    if (meetingTeacherArry.length > 0) {
                        meetingTeacherArry.forEach(item => {
                            if ($.inArray(item, data.field.meetingTeacher) < 0) {
                                data.field.meetingTeacher.push(item);
                            }
                        });
                    }
                }
                else if (data.field.StudyMode == 8) {
                    if ($("select[name='TeacherUid']").val() == "") {
                        layer.msg("请选择教师");
                        return false;
                    }
                    if (data.field.ListeningName == "") {
                        layer.msg("上课学员不能为空");
                        return false;
                    }
                    if ($("input[name='StudentUid']").val() == "") {
                        layer.msg("上课学员不存在");
                        return false;
                    }
                }
                adminForm.Save({
                    url: KeyId ? '@Url.Action("SaveCourseWork")' : '@Url.Action("SaveCourseWork")',
                    data: data.field,
                    callBack: function () {
                        admin.closeThisDialog();
                    }
                })
            }
        }
            App.Load();
            form.on('select(RangTimeId)', function (data) {
                if (data.value==0)
                    $("#customizedRange").css("display", "block");
                else {
                    $("#customizedRange").css("display", "none");
                    var selectArr = courseDates.getValue('value'); 
                    var timeRangStr = $("select[name='RangTimeId']").find("option:selected").text();
                    var timeRangGroup = timeRangStr.trim().split("-");
                    var randstTime = timeRangGroup[0].trim();
                    var randedTime = timeRangGroup[1].trim();
                    if (selectArr.length == 1) {
                        bindRoom(selectArr[0], randstTime, randedTime, 0);
                    }
                    else {
                        bindRoom(null,null,null,0);
                    }
                }
            });
            form.on('select(StudyMode)', function (data) {
                shikaouserArry = [];
                if (data.value == 1) {
                    $("#PartProject").css("display", "none");
                    $("#ClassPart").css("display", "none");
                    $("#OneOfPart").css("display", "block");
                    $("#ListeningPart").css("display", "none");
                    $("#ListenSubPart").css("display", "none");
                    $("#lineSpanDate").text("上课日期");
                    $("#lineSpanTimeRange").text("上课时段");
                    $("#mockPart").css("display", "none");
                    $("#PartUnit").css("display", "none");
                    $("#PresentPart").css("display", "block");
                    $("#meetingPart").css("display", "none");
                }
                else if (data.value == 2) {
                    $("#PartProject").css("display", "block");
                    $("#ClassPart").css("display", "block");
                    $("#OneOfPart").css("display", "none");
                    $("#ListeningPart").css("display", "none");
                    $("#ListenSubPart").css("display", "none");
                    $("#lineSpanDate").text("上课日期");
                    $("#lineSpanTimeRange").text("上课时段");
                    $("#mockPart").css("display", "none");
                    $("#PartUnit").css("display", "none");
                    $("#PresentPart").css("display", "none");
                    $("#PreSendPartUser").css("display", "none");
                    $("#meetingPart").css("display", "none");
                }
                else if (data.value == 3) {
                    $("#PartTa").css("display", "none");
                    $("#PartProject").css("display", "none");
                    $("#ClassPart").css("display", "none");
                    $("#OneOfPart").css("display", "none");
                    $("#ListeningPart").css("display", "none");
                    $("#ListenSubPart").css("display", "none");
                    $("#lineSpanDate").text("休息日期");
                    $("#lineSpanTimeRange").text("休息时段");
                    $("#mockPart").css("display", "none");
                    $("#PartUnit").css("display", "none");
                    $("#PresentPart").css("display", "none");
                    $("#PreSendPartUser").css("display", "none");
                    $("#meetingPart").css("display", "none");
                }
                else if (data.value == 4) {
                    $("input[name='Contra_ChildNo']").val("");
                    $("#ClassPart").css("display", "none");
                    $("#OneOfPart").css("display", "none");
                    $("#PartProject").show();
                    $("#ListeningPart").show();
                    $("#ListenSubPart").show();
                    $("#lineSpanDate").text("试听日期");
                    $("#lineSpanTimeRange").text("上课时段");
                    $("#spanStudentName").text("试听学员");
                    $("#spanCatogalogName").text("试听分类");
                    $("#mockPart").css("display", "none");
                    $("#PartUnit").css("display", "none");
                    $("#moreShikaoUser").css("display", "none");
                    $("#PresentPart").css("display", "none");
                    $("#PreSendPartUser").css("display", "none");
                    $("#meetingPart").css("display", "none");
                }
                else if (data.value == 5) {
                    $("#ClassPart").css("display", "none");
                    $("#OneOfPart").css("display", "none");
                    $("#teacherPart").show();
                    $("#PartProject").show();
                    $("#ListeningPart").show();
                    $("#ListenSubPart").show();
                    $("#lineSpanPigai").text("批改老师");
                    $("#spanMockTitle").text("模考标题");
                    $("#lineSpanDate").text("模考日期");
                    $("#lineSpanTimeRange").text("模考时段");
                    $("#spanStudentName").text("模考学员");
                    $("#spanCatogalogName").text("模考分类");
                    $("#mockPart").show();
                    $("#PartUnit").show();
                    $("#moreShikaoUser").css("display", "block");
                    $("#PresentPart").css("display", "none");
                    $("#PreSendPartUser").css("display", "none");
                    $("#meetingPart").css("display", "none");
                }
                else if (data.value == 6) {
                    $("#ClassPart").css("display", "none");
                    $("#OneOfPart").css("display", "none");
                    $("#teacherPart").css("display", "none");
                    $("#PartProject").show();
                    $("#ListeningPart").show();
                    $("#ListenSubPart").show();
                    $("#spanMockTitle").text("实考标题");
                    $("#lineSpanDate").text("实考日期");
                    $("#lineSpanTimeRange").text("实考时段");
                    $("#spanStudentName").text("实考学员");
                    $("#spanCatogalogName").text("实考分类");
                    $("#mockPart").show();
                    $("#PartUnit").show();
                    $("#moreShikaoUser").css("display", "block");
                    $("#PresentPart").css("display", "none");
                    $("#PreSendPartUser").css("display", "none");
                    $("#meetingPart").css("display", "none");
                }
                else if (data.value == 7) {
                    $("#teacherPart").css("display", "none");
                    $("#PartTa").css("display", "none");
                    $("#PartProject").css("display", "none");
                    $("#ClassPart").css("display", "none");
                    $("#OneOfPart").css("display", "none");
                    $("#ListeningPart").css("display", "none");
                    $("#ListenSubPart").css("display", "none");
                    $("#lineSpanDate").text("会议日期");
                    $("#lineSpanTimeRange").text("会议时段");
                    $("#PartUnit").css("display", "none");
                    $("#PresentPart").css("display", "none");
                    $("#PreSendPartUser").css("display", "none");
                    $("#meetingPart").css("display", "block");
                    $("#mockPart").css("display", "block");
                    $("#spanMockTitle").text("会议标题");
                }
                else if (data.value == 8) {
                    $("input[name='Contra_ChildNo']").val("");
                    $("#ClassPart").css("display", "none");
                    $("#OneOfPart").css("display", "none");
                    $("#PartProject").css("display", "none");
                    $("#ListenSubPart").css("display", "none");
                    $("#ListeningPart").show();
                    $("#lineSpanDate").text("上课日期");
                    $("#lineSpanTimeRange").text("上课时段");
                    $("#spanStudentName").text("上课学员");
                    $("#mockPart").css("display", "none");
                    $("#PartUnit").css("display", "none");
                    $("#moreShikaoUser").css("display", "none");
                    $("#PresentPart").css("display", "none");
                    $("#PreSendPartUser").css("display", "none");
                    $("#meetingPart").css("display", "none");
                }
            });
            form.on('select(ListenSubject)', function (data) {
                var linstenSubjectId = data.value;
                if (linstenSubjectId > 0) {
                    $("input[name='SubjectId']").val(linstenSubjectId);
                    bindProject(linstenSubjectId);
                }
                else {
                    $("select[name='ProjectId']").html("");
                    $("select[name='UnitId']").html("");
                }
            })
            form.on('select(ProjectId)', function (data) {
                var crrtProjectId = data.value;
                var studyModel = $("select[name='StudyMode']").val();
                if (crrtProjectId > 0 &&(studyModel== 5||studyModel== 6)) {
                    $("#PartUnit").show();
                    bindUnit(crrtProjectId);
                }
            })
            form.on('select(IsUsePresent)', function (data) {
                var isUsePresent = data.value;
                if (isUsePresent == 1) {
                    $("#PreSendPartUser").css("display", "block");
                    $("#OneOfPart").css("display", "none");
                    $("#ListenSubPart").show();
                    $("#PartProject").show();

                }
                else {
                    $("#PreSendPartUser").css("display", "none");
                    $("#OneOfPart").css("display", "block");
                    $("#ListenSubPart").css("display", "none");
                    $("#PartProject").css("display", "none");
                }
            })
        // 表单提交事件
        form.on('submit(modelUserSubmit)', function (data) {
            App.Save(data);
            return false;
        });
        $("#couseMovel").click(function () {
                             layer.confirm('确定要删除该课程吗?', {
                                        btn: ['确定', '取消'] //按钮
                             }, function (index) {
                                         adminForm.Save({
                                             url:'@Url.Action("RemoveCourseWork")',
                                             data: { id: KeyId},
                                             callBack: function (result) {
                                                 admin.closeThisDialog();
                                                 layer.msg(result.msg);
                                                 layer.close(index);
                                            }
                                         })
                                    }, function () {
                               });
        })
        function formatMinutin() {
            $(".laydate-time-list li ol").eq(2).parent("li").remove();
        }
            $("input[name='WorkClassName']").on({
                click: function () {
                    adminForm.load({
                        url: "@Url.Action("QueryUserChild")",
                        data: { studyModel: 2, title: $(this).val() },
                        dataType: 'json',
                        callBack: function (rou) {
                            if (rou.data != null) {
                                var result = rou.data;
                                document.getElementById("searcClass").style.display = "block";
                                var html = template("ClassWorkTemp", { data: result });
                                document.getElementById("searcClassbody").innerHTML = html;
                            }
                        }
                    });
                }
            });
            $("input[name='WorkClassName']").keyup(function () {
                adminForm.load({
                    url: "@Url.Action("QueryUserChild")",
                    data: { studyModel: 2, title: $(this).val() },
                    dataType: 'json',
                    callBack: function (rou) {
                        if (rou.data != null) {
                            var result = rou.data;
                            document.getElementById("searcClass").style.display = "block";
                            var html = template("ClassWorkTemp", { data: result });
                            document.getElementById("searcClassbody").innerHTML = html;
                        }
                    }
                });
            });
            $("input[name='WorkUserName']").click(function () {
                     adminForm.load({
                        url: "@Url.Action("QueryUserChild")",
                        data: { studyModel:1, title: $(this).val() },
                        dataType: 'json',
                        callBack: function (rou) {
                            if (rou.data != null && rou.data.length > 0) {
                                var result = rou.data;
                                document.getElementById("searcUser").style.display = "block";
                                var html = template("ClassWorkTemp", { data: result });
                                document.getElementById("searcUserbody").innerHTML = html;
                            }
                            else {
                                document.getElementById("searcUser").style.display = "none";
                            }
                        }
                    });
            })
            $("input[name='WorkUserName']").keyup(function () {
                adminForm.load({
                    url: "@Url.Action("QueryUserChild")",
                    data: { studyModel:1, title: $(this).val() },
                    dataType: 'json',
                    callBack: function (rou) {
                        if (rou.data != null && rou.data.length>0) {
                            var result = rou.data;
                            document.getElementById("searcUser").style.display = "block";
                            var html = template("ClassWorkTemp", { data: result });
                            document.getElementById("searcUserbody").innerHTML = html;
                        }
                        else {
                            document.getElementById("searcUser").style.display = "none";
                        }
                    }
                });
            });
            $("input[name='PreSendUserName']").keyup(function () {
                adminForm.load({
                    url: "@Url.Action("QueryGiveCourseUser")",
                    data: {title: $(this).val() },
                    dataType: 'json',
                    callBack: function (rou) {
                        if (rou.data != null && rou.data.length>0) {
                            var result = rou.data;
                            document.getElementById("searcPreSend").style.display = "block";
                            var html = template("PreSendTemp", { data: result });
                            document.getElementById("searcPreSendbody").innerHTML = html;
                        }
                        else {
                            document.getElementById("searcPreSend").style.display = "none";
                        }
                    }
                });
            });
            $("input[name='ListeningName']").keyup(function () {
                adminForm.load({
                    url: "@Url.Action("QueryListenUser")",
                    data: { userName: $(this).val() },
                    dataType: 'json',
                    callBack: function (rou) {
                        if (rou.data != null && rou.data != []) {
                            var result = rou.data;
                            if (result.length > 0) {
                                document.getElementById("searcListen").style.display = "block";
                                var html = template("ListenTemp", { data: result });
                                document.getElementById("searchListenbody").innerHTML = html;
                            }
                            else {
                                document.getElementById("searcListen").style.display = "none";
                            }
                        }
                        else {
                            document.getElementById("searcListen").style.display = "none";
                        }
                    }
                });
            });
            $("input[name='meetingUserName']").keyup(function () {
                adminForm.load({
                    url: "@Url.Action("QueryNameAll", "TeacherHaveTime")",
                    data: {title: $(this).val() },
                    dataType: 'json',
                    callBack: function (rou) {
                        if (rou.data != null && rou.data.length>0) {
                            var result = rou.data;
                            document.getElementById("searcMeeting").style.display = "block";
                            var html = template("meetingUserTemp", { data: result });
                            document.getElementById("meetingUserBody").innerHTML = html;
                        }
                        else {
                            document.getElementById("searcMeeting").style.display = "none";
                        }
                    }
                });
            });

    });
        function SetTr(vmodel) {
            vmodel = JSON.parse(vmodel);
            $("input[name='SubjectId']").val(vmodel.SubjectId);
            if (vmodel.StudyMode == 1) {
                $("#searcUser").css("display", "none");
                $("input[name='StudentUid']").val(vmodel.StudentUid);
                $("input[name='Contra_ChildNo']").val(vmodel.Contra_ChildNo);
                $("input[name='WorkUserName']").val(vmodel.StudyModeName);
                $("input[name='UserProjectId']").val(vmodel.ProjectId);
                bindUnit(vmodel.ProjectId, null);
            }
            else if (vmodel.StudyMode == 2) {
                $("#searcClass").css("display","none");
                $("input[name='WorkClassName']").val(vmodel.StudyModeName);
                $("input[name='ClasssId']").val(vmodel.ClasssId);
                bindProject(vmodel.SubjectId,null,null);
            }
        }
        function SetPreSend(vmodel) {
            $("#searcPreSend").css("display", "none");
            vmodel = JSON.parse(vmodel);
            $("input[name='StudentUid']").val(vmodel.StudentUid);
            $("input[name='Contra_ChildNo']").val(vmodel.Contra_ChildNo);
            $("input[name='PreSendUserName']").val(vmodel.Student_Name);
        }
        var shikaouserArry = [];
        function SetListenTr(vmodel) {
            vmodel = JSON.parse(vmodel);
            $("input[name='StudentUid']").val(vmodel.StudentUid);
            $("input[name='ListeningName']").val(vmodel.Student_Name);
            $("#searcListen").css("display", "none");
            var stdyModel = $("select[name='StudyMode']").val();
            if (stdyModel == 5||stdyModel == 6) {
                $("#moreShikaoUser").css("display", "block");
                if ($("#shikaoUsers").text() == "") {
                    $("#shikaoUsers").append(vmodel.Student_Name);
                } else {
                    $("#shikaoUsers").append(","+vmodel.Student_Name);
                }
                shikaouserArry.push({ StudentUid: vmodel.StudentUid, Student_Name: vmodel.Student_Name});
            }
            else {
                $("#moreShikaoUser").css("display", "none");
                $("#moreShikaoUser").html("");
                shikaouserArry = [];
            }

        }
        function SetMeetingTr(vmodel) {
            vmodel = JSON.parse(vmodel);
            $("input[name='meetingUserName']").val(vmodel.Name);
            $("#searcMeeting").css("display", "none");
            if ($("#meetingMore").val() == "" || $("#meetingMore").val() == null) {
                $("#meetingMore").append(vmodel.Name);
            } else {
                var teacherApend = $("#meetingMore").val().split(",");
                if ($.inArray(vmodel.Name, teacherApend) < 0) {
                    teacherApend.push(vmodel.Name);
                    $("#meetingMore").val(teacherApend.join(","));
                }
            }
        }
        function bindProject(subjectId, defaultProjectId, defaultUnitId) {
            layui.use(['adminForm'], function () {
                var adminForm = layui.adminForm;
                var studyModel = $("select[name='StudyMode']").val();
               adminForm.load({
                url: "@Url.Action("QueryProject")",
                data: { subjectId: subjectId},
                dataType: 'json',
                callBack: function (rou) {
                    if (rou.data != null) {
                        $("select[name='ProjectId']").html("");
                        var result = rou.data;
                        for (var i = 0; i < result.length; i++) {
                            if (defaultProjectId != undefined && defaultProjectId != null && defaultProjectId > 0) {
                                if (defaultProjectId == result[i].ProjectId) {
                                    $("select[name='ProjectId']").append('<option value = ' + result[i].ProjectId + ' selected>' + result[i].ProjectName + '</option>');
                                    bindUnit(defaultProjectId, defaultUnitId);
                                }
                                else {
                                    $("select[name='ProjectId']").append('<option value = ' + result[i].ProjectId + '>' + result[i].ProjectName + '</option>');
                                }
                            }
                            else {
                                $("select[name='ProjectId']").append('<option value = ' + result[i].ProjectId + '>' + result[i].ProjectName + '</option>');
                                if (i == 0) {
                                    bindUnit(result[i].ProjectId, defaultUnitId);
                                }
                            }
                        }
                    }
                }
              });
            });
        }
        function bindUnit(projectId, defaulUnitId) {
            layui.use(['adminForm'], function () {
               var adminForm = layui.adminForm;
               adminForm.load({
                url: "@Url.Action("QueryUnit")",
                data: { projectId: projectId},
                dataType: 'json',
                callBack: function (rou) {
                    if (rou.data != null) {
                        console.log(projectId);
                        console.log(rou.data);
                        $("#PartUnit").show();
                        $("select[name='UnitId']").html("");
                        var result = rou.data;
                        for (var i = 0; i < result.length; i++) {
                            if (defaulUnitId != undefined && defaulUnitId != null && defaulUnitId > 0 && defaulUnitId == result[i].UnitId) {
                                $("select[name='UnitId']").append('<option value = ' + result[i].UnitId + ' selected>' + result[i].UnitName + '</option>');
                            }
                            else {
                                $("select[name='UnitId']").append('<option value = ' + result[i].UnitId + '>' + result[i].UnitName + '</option>');
                            }
                        }
                    }
                }
              });
            });
        }
        function bindRoom(atDate, stTime, edTime, defaultRoomId) {
            layui.use(['adminForm'], function () {
                    var adminForm = layui.adminForm;
                    //绑定教室
                    adminForm.load({
                        url: "@Url.Action("QueryRoom")",
                        data: { atDate: atDate, stTime: stTime, edTime: edTime, defaultRoomId:defaultRoomId},
                        dataType: 'json',
                        callBack: function (rou) {
                            $("select[name='RoomId']").html("");
                            if (rou.data != null) {
                                var result = rou.data;
                                for (var i = 0; i < result.length; i++) {
                                    if (defaultRoomId != undefined && defaultRoomId != null && defaultRoomId== result[i].Id) {
                                        $("select[name='RoomId']").append('<option value = ' + result[i].Id + ' selected>' + result[i].RoomName +'</option>');

                                    } else {
                                        $("select[name='RoomId']").append('<option value = ' + result[i].Id + '>' + result[i].RoomName + '</option>');
                                    }
                                }
                            }
                        }
                        });
            });
        }
        function dateFtt(fmt, val) { //author: meizz
            var date = new Date(val);
            var o = {
                "M+": date.getMonth() + 1,     //月份
                "d+": date.getDate(),     //日
                "h+": date.getHours(),     //小时
                "m+": date.getMinutes(),     //分
                "s+": date.getSeconds(),     //秒
                "q+": Math.floor((date.getMonth() + 3) / 3), //季度
                "S": date.getMilliseconds()    //毫秒
            };
            if (/(y+)/.test(fmt))
                fmt = fmt.replace(RegExp.$1, (date.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt))
                    fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
    </script>
}