@{
    var KeyId = ViewBag.ID;
}

<form id="modelUserForm" lay-filter="modelUserForm" class="layui-form model-form">
    <input name="Id" type="hidden" value="@ViewBag.ID" />
    <input name="Contra_ChildNo" type="hidden" />
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">上课教师</label>
            <div class="layui-input-block">
                <select name="TeacherUid"></select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">上课模式</label>
            <div class="layui-input-block">
                <select name="StudyMode" lay-filter="StudyMode">
                    <option value="1">一对一</option>
                    <option value="2">小班</option>
                    <option value="3">休息</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" id="lineSpanDate">上课日期</label>
        <div class="layui-input-block">
            <input type="text" name="AT_Date" class="layui-input" id="AT_Date" multiple="multiple" value="@ViewBag.DataStr" />
        </div>
        <div id="date_all"></div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" id="lineSpanTimeRange">上课时段</label>
            <div class="layui-input-block">
                <select name="RangTimeId" lay-filter="RangTimeId"></select>
            </div>
        </div>
    </div>
    <div class="layui-form-item" style="display:none" id="customizedRange">
        <div class="layui-inline">
            <label class="layui-form-label">开始时间</label>
            <div class="layui-input-inline">
                <input type="text" name="StartTime" id="StartTime" class="layui-input" />
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">截止时间</label>
            <div class="layui-input-inline">
                <input type="text" name="EndTime" id="EndTime" class="layui-input" />
            </div>
        </div>
    </div>
    <div class="layui-form-item" id="OneOfPart">
        <label class="layui-form-label">一对一学员</label>
        <div class="layui-input-block" style="position:relative">
            <input type="hidden" name="SubjectId" />
            <input type="hidden" name="StudentUid" />
            <input type="hidden" name="UserProjectId" />
            <input name="WorkUserName" class="layui-input" type="text" />
            <div id="searcUser" class="searcUser">
                <table style="width:100%;margin-top: 0px;" class="layui-table">
                    <tbody id="searcUserbody"></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="layui-form-item" id="ClassPart" style="display:none">
        <label class="layui-form-label">小班</label>
        <div class="layui-input-block" style="position:relative">
            <input name="WorkClassName" class="layui-input" type="text" />
            <input type="hidden" name="ClasssId" />
            <div id="searcClass" class="searcClass">
                <table style="width:100%;margin-top: 0px;" class="layui-table">
                    <tbody id="searcClassbody"></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="layui-form-item" id="PartProject">
        <label class="layui-form-label">科目</label>
        <div class="layui-input-block">
            <select name="ProjectId"></select>
        </div>
    </div>
    <div class="layui-form-item" id="PartTa">
        <label class="layui-form-label">督学</label>
        <div class="layui-input-block">
            <select name="TA_Uid"></select>
        </div>
    </div>
    <div class="layui-form-item" id="PartProject">
        <label class="layui-form-label">房间</label>
        <div class="layui-input-block">
            <select name="RoomId"></select>
        </div>
    </div>
    <div class="layui-form-item positionbottomtop"></div>
    <div class="layui-form-item text-right positionbottom">
        @if (@ViewBag.ID != 0)
        {
            <button class="layui-btn layui-icon-delete" type="button" id="couseMovel">删除课程</button>
        }
        <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        <button class="layui-btn" lay-filter="modelUserSubmit" lay-submit>保存</button>
    </div>
</form>

@section css{
    <style>
        .ke-container {
            margin-left: 33px !important;
        }

        .ke-edit, .ke-edit-iframe, .ke-edit-textarea {
            height: 266px !important;
        }

        .searcClass, .searcUser {
            position: absolute;
            box-shadow: 0 10px 60px 0 rgb(29 29 31 / 9%);
            background-color: white;
            z-index: 6;
            width: 345px;
            display:none;
        }
    </style>
}

@section js{
    <!-- js部分 -->
    <link href="~/kindeditor/themes/default/default.css" rel="stylesheet" />
    <script type="text/template" id="ClassWorkTemp">
        {{each data item index}}
        <tr onclick="SetTr('{{item}}')">
            <td><span data-StudyMode="{{item.Contra_ChildNo}}" data-childNo="{{item.Contra_ChildNo}}" data-StudentUid="{{item.StudentUid}}" data-SubjectId="{{item.SubjectId}}" data-ProjectId="{{item.ProjectId}}" data-ClasssId="{{item.ClasssId}}">{{item.StudyModeName}}</span></td>
        </tr>
        {{/each}}
    </script>
    <script>
        layui.use(['form', 'admin', 'adminForm', 'laydate'], function () {
        var KeyId = '@KeyId';
        var $ = layui.jquery;
        var form = layui.form;
        var admin = layui.admin;
        var adminForm = layui.adminForm;
        var laydate = layui.laydate;
        laydate.render({
            elem: '#AT_Date',
            type: 'date'
        });
        laydate.render({
            elem: '#StartTime',
            type: 'time',
            format: 'HH:mm',
            ready:formatMinutin
        });
        laydate.render({
            elem: '#EndTime',
            type: 'time',
            format: 'HH:mm',
            ready: formatMinutin
        });
        var App = {
            Load: function () {
                adminForm.load({
                    formName: 'modelUserForm',
                    KeyId: '@KeyId',
                    url: "@Url.Action("Find")",
                    dataType: 'json',
                    callBack: function (r) {
                        if (r.StudyMode == 1) {
                            $("input[name='WorkUserName']").val(r.Work_Title);
                            $("input[name='UserProjectId']").val(r.ProjectId);
                            $("#PartProject").css("display", "none");
                        }
                        else if (r.StudyMode == 2) {
                            $("#PartProject").css("display", "block");
                            $("input[name='WorkClassName']").val(r.Work_Title);
                            $("#OneOfPart").css("display", "none");
                            $("#ClassPart").css("display", "block");
                            bindProject(r.SubjectId,r.ProjectId);
                        }
                        else if(r.StudyMode == 3){
                            $("#PartTa").css("display", "none");
                            $("#PartProject").css("display", "none");
                            $("#ClassPart").css("display", "none");
                            $("#OneOfPart").css("display", "none");
                            $("#lineSpanDate").text("休息日期");
                            $("#lineSpanTimeRange").text("休息时段");
                        }
                        if (r != null && r.AT_Date != undefined) {
                            $("input[name='AT_Date']").val(dateFtt("yyyy-MM-dd", r.AT_Date));
                        }
                        if (r != null && r.RangTimeId < 1) {
                            $("#customizedRange").css("display", "block");
                        }
                        //绑定教师
                        adminForm.load({
                        url: "@Url.Action("QueryTeacher")",
                        dataType: 'json',
                        callBack: function (rou) {
                            if (rou.data != null) {
                                var result = rou.data;
                                var teacherId ='@ViewBag.teacherId';
                                for (var i = 0; i < result.length; i++) {
                                    if (r != undefined && r.TeacherUid != null && r.TeacherUid == result[i].User_ID) {
                                        $("select[name='TeacherUid']").append('<option value = ' + result[i].User_ID + ' selected>' + result[i].User_Name +'</option>');

                                    } else {
                                        if (teacherId!= "" &&teacherId== result[i].User_ID) {
                                            $("select[name='TeacherUid']").append('<option value = ' + result[i].User_ID + ' selected>' + result[i].User_Name + '</option>');
                                        }
                                        else {
                                            $("select[name='TeacherUid']").append('<option value = ' + result[i].User_ID + '>' + result[i].User_Name + '</option>');
                                        }
                                    }
                                }
                            }
                        }
                        });
                        //绑定时间范围
                        adminForm.load({
                        url: "@Url.Action("QueryRangeTime")",
                        dataType: 'json',
                        callBack: function (rou) {
                            if (rou.data != null) {
                                var result = rou.data;
                                for (var i = 0; i < result.length; i++) {
                                    if (r != undefined && r.RangTimeId != null && r.RangTimeId == result[i].Id) {
                                        $("select[name='RangTimeId']").append('<option value = ' + result[i].Id + ' selected>' + result[i].TimeName +'</option>');

                                    } else {
                                        $("select[name='RangTimeId']").append('<option value = ' + result[i].Id + '>' + result[i].TimeName + '</option>');
                                    }
                                }
                            }
                        }
                        });
                        //绑定督学
                        adminForm.load({
                        url: "@Url.Action("QueryTa")",
                        dataType: 'json',
                        callBack: function (rou) {
                            if (rou.data != null) {
                                var result = rou.data;
                                for (var i = 0; i < result.length; i++) {
                                    if (r != undefined && r.TA_Uid != null && r.TA_Uid == result[i].User_ID) {
                                        $("select[name='TA_Uid']").append('<option value = ' + result[i].User_ID + ' selected>' + result[i].User_Name +'</option>');

                                    } else {
                                        $("select[name='TA_Uid']").append('<option value = ' + result[i].User_ID + '>' + result[i].User_Name + '</option>');
                                    }
                                }
                            }
                        }
                        });
                        adminForm.load({
                        url: "@Url.Action("QueryRoom")",
                        dataType: 'json',
                        callBack: function (rou) {
                            if (rou.data != null) {
                                var result = rou.data;
                                for (var i = 0; i < result.length; i++) {
                                    if (r != undefined && r.RoomId != null && r.RoomId == result[i].Id) {
                                        $("select[name='RoomId']").append('<option value = ' + result[i].Id + ' selected>' + result[i].RoomName +'</option>');

                                    } else {
                                        $("select[name='RoomId']").append('<option value = ' + result[i].Id + '>' + result[i].RoomName + '</option>');
                                    }
                                }
                            }
                        }
                        });
                    }
                });
            },
            Save: function (data) {
                data.field.ProjectId = data.field.StudyMode == 1 ? $("input[name='UserProjectId']").val() : $("select[name='ProjectId']").val();
                data.field.Work_Title = data.field.StudyMode == 1 ? $("input[name='WorkUserName']").val() : $("input[name='WorkClassName']").val();
                adminForm.Save({
                    url: KeyId ? '@Url.Action("SaveCourseWork")' : '@Url.Action("SaveCourseWork")',
                    data: data.field,
                    callBack: function () {
                        admin.closeThisDialog();
                    }
                })
            }
        }
            App.Load();
            form.on('select(RangTimeId)', function (data) {
                console.log(data.value);
                if (data.value==0)
                    $("#customizedRange").css("display", "block");
                else {
                    $("#customizedRange").css("display", "none");
                }
            });
            form.on('select(StudyMode)', function (data) {
                if (data.value == 1) {
                    $("#PartProject").css("display", "none");
                    $("#ClassPart").css("display", "none");
                    $("#OneOfPart").css("display", "block");
                    $("#lineSpanDate").text("上课日期");
                    $("#lineSpanTimeRange").text("上课时段");
                }
                else if (data.value == 2) {
                    $("#PartProject").css("display", "block");
                    $("#ClassPart").css("display", "block");
                    $("#OneOfPart").css("display", "none");
                    $("#lineSpanDate").text("上课日期");
                    $("#lineSpanTimeRange").text("上课时段");
                }
                else {
                    $("#PartTa").css("display", "none");
                    $("#PartProject").css("display", "none");
                    $("#ClassPart").css("display", "none");
                    $("#OneOfPart").css("display", "none");
                    $("#lineSpanDate").text("休息日期");
                    $("#lineSpanTimeRange").text("休息时段");
                }
            });
        // 表单提交事件
        form.on('submit(modelUserSubmit)', function (data) {
            App.Save(data);
            return false;
        });
         $("#couseMovel").click(function () {
                             layer.confirm('确定要删除该课程吗?', {
                                        btn: ['确定', '取消'] //按钮
                             }, function (index) {
                                         adminForm.Save({
                                             url:'@Url.Action("RemoveCourseWork")',
                                             data: { id: KeyId},
                                             callBack: function (result) {
                                                 admin.closeThisDialog();
                                                 layer.msg(result.msg);
                                                 layer.close(index);
                                            }
                                         })
                                    }, function () {
                               });
        })
        function formatMinutin() {
            $(".laydate-time-list li ol").eq(2).parent("li").remove();
        }
            $("input[name='WorkClassName']").on({
                click: function () {
                    adminForm.load({
                        url: "@Url.Action("QueryUserChild")",
                        data: { studyModel: 2, title: $(this).val() },
                        dataType: 'json',
                        callBack: function (rou) {
                            if (rou.data != null) {
                                var result = rou.data;
                                document.getElementById("searcClass").style.display = "block";
                                var html = template("ClassWorkTemp", { data: result });
                                document.getElementById("searcClassbody").innerHTML = html;
                            }
                        }
                    });
                }
            });
            $("input[name='WorkClassName']").keyup(function () {
                adminForm.load({
                    url: "@Url.Action("QueryUserChild")",
                    data: { studyModel: 2, title: $(this).val() },
                    dataType: 'json',
                    callBack: function (rou) {
                        if (rou.data != null) {
                            var result = rou.data;
                            document.getElementById("searcClass").style.display = "block";
                            var html = template("ClassWorkTemp", { data: result });
                            document.getElementById("searcClassbody").innerHTML = html;
                        }
                    }
                });
            });
            $("input[name='WorkUserName']").click(function () {
                     adminForm.load({
                        url: "@Url.Action("QueryUserChild")",
                        data: { studyModel:1, title: $(this).val() },
                        dataType: 'json',
                        callBack: function (rou) {
                            if (rou.data != null) {
                                var result = rou.data;
                                document.getElementById("searcUser").style.display = "block";
                                var html = template("ClassWorkTemp", { data: result });
                                document.getElementById("searcUserbody").innerHTML = html;
                            }
                        }
                    });
            })
            $("input[name='WorkUserName']").keyup(function () {
                adminForm.load({
                    url: "@Url.Action("QueryUserChild")",
                    data: { studyModel:1, title: $(this).val() },
                    dataType: 'json',
                    callBack: function (rou) {
                        if (rou.data != null) {
                            var result = rou.data;
                            document.getElementById("searcUser").style.display = "block";
                            var html = template("ClassWorkTemp", { data: result });
                            document.getElementById("searcUserbody").innerHTML = html;
                        }
                    }
                });
            });
    });
        function SetTr(vmodel) {
            vmodel = JSON.parse(vmodel);
            $("input[name='SubjectId']").val(vmodel.SubjectId);
            console.log(vmodel);
            if (vmodel.StudyMode == 1) {
                $("#searcUser").css("display", "none");
                $("input[name='StudentUid']").val(vmodel.StudentUid);
                $("input[name='Contra_ChildNo']").val(vmodel.Contra_ChildNo);
                $("input[name='WorkUserName']").val(vmodel.StudyModeName);
                $("input[name='UserProjectId']").val(vmodel.ProjectId);
            }
            else if (vmodel.StudyMode == 2) {
                $("#searcClass").css("display","none");
                $("input[name='WorkClassName']").val(vmodel.StudyModeName);
                $("input[name='ClasssId']").val(vmodel.ClasssId);
                bindProject(vmodel.SubjectId,null);
            }
        }
        function bindProject(subjectId, defaultProjectId) {
            layui.use(['adminForm'], function () {
                var adminForm = layui.adminForm;
               adminForm.load({
                url: "@Url.Action("QueryProject")",
                data: { subjectId: subjectId},
                dataType: 'json',
                callBack: function (rou) {
                    if (rou.data != null) {
                        var result = rou.data;
                        for (var i = 0; i < result.length; i++) {
                            if (defaultProjectId != undefined && defaultProjectId != null && defaultProjectId > 0 && defaultProjectId == result[i].ProjectId) {
                                $("select[name='ProjectId']").append('<option value = ' + result[i].ProjectId + ' selected>' + result[i].ProjectName + '</option>');
                            }
                            else {
                                $("select[name='ProjectId']").append('<option value = ' + result[i].ProjectId + '>' + result[i].ProjectName + '</option>');
                            }
                        }
                    }
                }
              });
            });
        }
        function dateFtt(fmt, val) { //author: meizz
            var date = new Date(val);
            var o = {
                "M+": date.getMonth() + 1,     //月份
                "d+": date.getDate(),     //日
                "h+": date.getHours(),     //小时
                "m+": date.getMinutes(),     //分
                "s+": date.getSeconds(),     //秒
                "q+": Math.floor((date.getMonth() + 3) / 3), //季度
                "S": date.getMilliseconds()    //毫秒
            };
            if (/(y+)/.test(fmt))
                fmt = fmt.replace(RegExp.$1, (date.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt))
                    fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
    </script>
}