@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline" style="position:relative">
                        <label class="layui-form-label w-auto">标题：</label>
                        <div class="layui-input-inline mr0">
                            <input id="txtTitle" name="txtTitle" class="layui-input" type="text" placeholder="学员或教师或班级" autocomplete="off" />
                            <div class="searchName" id="searchName">
                                <table style="width:100%;margin-top: 0px;" class="layui-table">
                                    <tbody id="searcNamebody"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">分类：</label>
                        <div class="layui-input-inline mr0">
                            <select name="SubjectId" class="layui-select" lay-filter="SubjectId" id="SubjectId"></select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">科目：</label>
                        <div class="layui-input-inline mr0">
                            <select name="ProjectId" class="layui-select" id="ProjectId"></select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button id="btnSearch" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
                    </div>
                    <div class="layui-inline">
                        <button id="btnAdd" class="layui-btn icon-btn" data-power="Add"><i class="layui-icon">&#xe654;</i>添加</button>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="layui-tab layui-tab-card" lay-filter="tabWork" style="margin-top:0px">
    <ul class="layui-tab-title">
        <li class="layui-this">周视图</li>
        <li>表格视图</li>
    </ul>
    <div class="layui-tab-content" style="padding:0px;">
        <div class="layui-tab-item layui-show" style="padding-top:10px;">
            <div id='calendar'></div>
        </div>
        <div class="layui-tab-item" style="padding-top:10px">
            <div style="display:flex;flex-wrap:wrap;">
                <div style="max-width:908px;display:flex">
                    <label class="layui-form-label w-auto">开始时间：</label>
                    <input type="text" class="layui-input" name="StartTime" id="StartTime" style="flex:1" />
                    <label class="layui-form-label w-auto">截止时间之前：</label>
                    <input type="text" class="layui-input" name="EndTime" id="EndTime" style="flex:1" />
                    <input type="button" value="一键复制课程至下周" class="layui-btn" style="margin-left:10px" id="btnCopy" />
                </div>
                <div style="flex: 1;line-height:39px;text-align:center;font-weight:600">
                    <label id="totalCourseTime"></label>
                </div>
            </div>
            <table class="layui-table" id="userTable" lay-filter="userTable"></table>
        </div>
    </div>
</div>
<div style="position:absolute;background-color:yellowgreen" id="flexPlay"></div>
@section css{
    <link href="/assets/libs/fullCalendar/main.css" rel="stylesheet" />
    <style>
        body {
            margin: 6px 10px;
            padding: 0;
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
            font-size: 14px;
        }

        #calendar {
            max-width: 100%;
            margin: 0 20px;
        }

        .fc-daygrid-dot-event {
            display: block !important;
            align-items: center;
            padding: 2px 0;
            /*            background-color: yellowgreen;*/
        }

        .fc-h-event .fc-event-main-frame {
            /* display: flex; */
            flex-wrap: wrap;
        }

        .tagbackColor {
            background-color: yellowgreen;
        }
       .searchName {
            position: absolute;
            box-shadow: 0 10px 60px 0 rgb(29 29 31 / 9%);
            background-color: white;
            z-index: 6;
            width: 380px;
            min-height: 200px;
            display: none;
        }
    </style>
}
@section js{
    <script type="text/template" id="searchNameTemp">
        {{each data item index}}
        <tr onclick="SetListenTr('{{item}}')">
            <td><span>{{item.Name}}</span></td>
        </tr>
        {{/each}}
    </script>
    <!-- 表格操作列 -->
    <script type="text/html" id="tableBar">
        {{# if(d.StudyMode==5||d.StudyMode==6){ }}
        <a class="layui-btn layui-btn-primary layui-btn-xs" data-power="Edit" lay-event="dianpin">考试点评</a>
        {{#}}}
        <a class="layui-btn layui-btn-primary layui-btn-xs" data-power="Edit" lay-event="edit">修改</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" data-power="Delete" lay-event="del">删除</a>
    </script>
    <script src="/assets/libs/fullCalendar/main.js"></script>
    <!-- js部分 -->
    <script type="text/javascript">
    var defaultStartTime = '';
    var defaultEndTime = '';
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        //initialDate: '2020-09-12',//默认日期
        //自定义按钮
        //customButtons: {
        //    prev: {
        //        text: 'prev',
        //        click: function (event, span, value) {
        //            preMonth();
        //            var currentDate = dateFtt("yyyy-MM-dd", calendar.currentData.currentDate);
        //            console.log(currentDate);
        //        }
        //    }
        //},
        allDayText: 'all-day',
        firstDay: true,
        locale: "zh",//中文
        initialView:'timeGridWeek',
        dayMaxEvents: true,//允许更多连接allow "more" link when too many events
        displayEventEnd: true,//允许展示时间段
        buttonIcons: true,//显示上月，下月中文按钮
        allDaySlot: false,//allday 整天的日程是否显示
        showNonCurrentDates: false,//true显示非本月日期
        //slotDuration: '00:30',//设置时间间隔，
        //设置日历y轴上显示的时间文本格式
        slotLabelFormat: [
            { hour: '2-digit', minute: '2-digit', omitZeroMinute: false, hour12: false, meridiem: 'short'}
        ],
        scrollTime:'07:00',//默认时间
        slotMinTime:'07:00',//最小时间
        slotMaxTime:'24:00',//最大时间
        weekNumbers: false, //周显示开关
        navLinks: false, //允许天/周名称是否可点击
        navLinkDayClick: function (date, jsEvent) {
            // 这里进行日名称点击事件处理，Ajax请求，date格式化后为当日
        },
        dateClick: function (date, jsEvent, view) { //单个时间点击
            var dataStr = dateFtt("yyyy-MM-dd", date.dateStr);
            console.log(dataStr);
            showEditModel(0, dataStr);
        },
        showNonCurrentDates: true,//是否显示非本月日期
        selectable: false, //是否允许用户单击或者拖拽日历中的天和时间隙
        selectMirror: true, //是否允许显示用户单击或者拖拽错误提示
        //select: function (arg) {  //在日历中选择某个时间之后触发该回调函数。
        //    //点击后退出选中事件
        //    calendar.unselect()
        //},
        eventClick: function (info) {  //当点击日历中某个事件的时候触发 eventClick 回调：
            //修改
            showEditModel(info.event.id);
            //if (confirm('Are you sure you want to delete this event?')) {
            //    arg.event.remove()
            //}
        },
        eventResize: function (event, delta, revertFunc) {//事件被拉长或缩短
            event.revert();
        },
        eventDrop: function (event, oldEvent) { //拖拽事件
            var oldEndStr = dateFtt("yyyy-MM-dd", event.oldEvent.endStr);
            var startStr = dateFtt("yyyy-MM-dd", event.event.startStr);
            var endStr = dateFtt("yyyy-MM-dd", event.event.endStr);
            //如果拖拽后大于2天就恢复原位置
            if (startStr != endStr) {
                event.revert();
            }
            //如果移动后不是同一天则更新
            if (endStr != oldEndStr) {
                var id = event.oldEvent.id;
                layui.use(['form', 'admin', 'adminForm'], function () {
                    event.revert();
                    var adminForm = layui.adminForm;
                     adminForm.Save({
                         url:'@Url.Action("DropCourseWork")',
                         data: { id: id, upAtDate:endStr},
                         callBack: function (result) {
                             console.log(result.code);
                             if (result.code == 200) {
                                 calendar.refetchEvents();
                             }
                             else {
                                 //calendar.refetchEvents();
                                 event.revert();
                                 //layui.msg(result.msg);
                             }
                         }
                    })
                });
            }

        },
        editable: true,
        events: function (arg, callback) {
            var events = [];
            var title = $("#txtTitle").val();
            var startStr = dateFtt("yyyy-MM-dd", arg.startStr);
            var endStr = dateFtt("yyyy-MM-dd", arg.endStr);
            defaultStartTime = startStr;
            var subjectId = $("select[name='SubjectId']").val();
            var projectId=$("select[name='ProjectId']").val()
            defaultEndTime = endStr;
            $.ajax({
                url: '@Url.Action("QueryWorkSource")',
                dataType: 'json',
                type: 'post',
                data: { startStr: startStr, endStr: endStr, userName: title, subjectId: subjectId, projectId: projectId },
                success: function (data) {
                    var result = data.data;
                    if (result.length > 0) {
                        for (var i = 0; i < result.length; i++) {
                            var atDate = dateFtt("yyyy-MM-dd", result[i].AT_Date)
                            var atStart = atDate + " " + result[i].StartTime;
                            var atEnd = atDate + " " + result[i].EndTime;
                            var isMokTeacherName = '  教师:' + result[i].TeacherName;
                            var backColor = 'yellowgreen';
                            if (result[i].StudyMode == 3) {
                                backColor = '#b1b0a9';
                            }
                           else if (result[i].StudyMode == 4) {
                                backColor = '#60605a';
                            }
                            else if (result[i].StudyMode == 5) {
                                backColor = '#c6b62e';
                                isMokTeacherName = ' 模考学员:' + result[i].ListeningName;
                            }
                            else if (result[i].StudyMode == 6) {
                                backColor='#a24d65';
                                isMokTeacherName = ' 实考学员:' + result[i].ListeningName;
                            }
                            events.push({
                                id: result[i].Id,
                                title: result[i].Work_Title + isMokTeacherName + (result[i].RoomName != null && result[i].RoomName!=""?'  教室:' + result[i].RoomName:''),
                                start: atStart,
                                end: atEnd,
                                display:'block',
                                color: '#CCCCFF',//设置颜色#666666#1ab394
                                backgroundColor: backColor,//设置背景颜色
                                borderColor: "#e0e0e0",   //日程边框颜色
                            });
                        }
                    }
                    callback(events);  //回调  doc中就是一个个上面所说数据库Urlrlrlmodel的json串
                }
            });
        },
        eventMouseEnter: function (event, el) {
            var title = event.event.title + " <br/>时间:" + dateFormat("HH:MM", event.event.startStr) + " - " + dateFormat("HH:MM", event.event.endStr);
            var pageX = (event.jsEvent.pageX-20)+ "px";
            var pageY = (event.jsEvent.pageY+10)+ "px";
            layer.tips(title,$(event.ele), {
                time:3000,
                tips: [1, '#CCCCFF'], //设置tips方向和颜色 类型：Number/Array，默认：2 tips层的私有参数。支持上右下左四个方向，通过1-4进行方向设定。如tips: 3则表示在元素的下面出现。有时你还可能会定义一些颜色，可以设定tips: [1, '#c00']
                success: function (layero, index) {
                    layero.css("left", pageX);
                    layero.css("top", pageY);
                    //$(".layui-layer-tips").css("left", pageX);
                    //$(".layui-layer-tips").css("top", pageY);
                }
            });
        },
        eventMouseLeave: function (event) {

        }
    });
    calendar.render();
    $("#btnAdd").click(function () {
        showEditModel(0,"",null);
    })
    function showEditModel(wkId, dataStr,iniTable) {
        var teacherName = $("#txtTitle").val();
        layui.use(['form', 'admin', 'adminList'], function () {
            var $ = layui.jquery;
            var admin = layui.admin;
            var adminList = layui.adminList;
            adminList.form({
                title: (wkId ? '调整' : '添加') + '排课',
                type: 2,
                width: "760px",
                height: "720px",
                content: wkId ? '@Url.Action("Edit")?ID=' + wkId : '@Url.Action("Add")?ID=0&teacherName=' + teacherName+'&dataStr=' + dataStr,
                end: function () {
                    //重新渲染日历
                    calendar.refetchEvents();
                    if (iniTable != undefined && iniTable != null) {
                        var stTime = $("input[name='StartTime']").val();
                        var edTime = $("input[name='EndTime']").val();
                        if (stTime == "" || stTime == null) {
                            stTime = defaultStartTime;
                        }
                        if (edTime == "" || edTime == null) {
                            edTime = defaultEndTime;
                        }
                        iniTable.reload({
                            where: { startStr: stTime, endStr: edTime, userName: $("#txtTitle").val(),subjectId:$("select[name='SubjectId']").val(), projectId:$("select[name='ProjectId']").val()}
                        });
                    }
                }
            });

        });
    }



    function ShowComment(wkId, iniTable) {
         layui.use([ 'adminList'], function () {
            var adminList = layui.adminList;
                adminList.form({
                title: '考试点评',
                type: 2,
                width: "660px",
                height: "630px",
                content: '@Url.Action("AddComment")?ID='+ wkId,
                end: function () {
                    if (iniTable != undefined && iniTable != null) {
                        var stTime = $("input[name='StartTime']").val();
                        var edTime = $("input[name='EndTime']").val();
                        if (stTime == "" || stTime == null) {
                            stTime = defaultStartTime;
                        }
                        if (edTime == "" || edTime == null) {
                            edTime = defaultEndTime;
                        }
                        iniTable.reload({
                            where: { startStr: stTime, endStr: edTime, userName: $("#txtTitle").val(), subjectId: $("select[name='SubjectId']").val(), projectId: $("select[name='ProjectId']").val() }
                        });
                    }
                }
            });
        });
    }

    //function preMonth(){
    //    calendar.prev();
    //    calendar.render();
    //}
     layui.use(['adminList', 'element', 'adminForm', 'laydate', 'form', 'table'], function () {
            var adminList = layui.adminList;
            var element = layui.element;
            var adminForm = layui.adminForm;
            var laydate = layui.laydate;
            var form = layui.form;
            var table = layui.table;
            laydate.render({
                elem: '#StartTime',
                type: 'date'
            });
            laydate.render({
                elem: '#EndTime',
                type: 'date'
            });
            adminForm.load({
            url: "@Url.Action("QuerySubject","ContracUser")",
            dataType: 'json',
            callBack: function (rou) {
                    if (rou.data != null) {
                        var result = rou.data;
                        $("select[name='SubjectId']").html("<option value='0'>-分类-</option>");
                        $("select[name='ProjectId']").html("<option value='0'>-科目-</option>");
                        for (var i = 0; i < result.length; i++) {
                            $("select[name='SubjectId']").append('<option value = ' + result[i].SubjectId + '>' + result[i].SubjectName + '</option>');
                        }
                    }
                }
            });
            form.on('select(SubjectId)', function (data) {
                var sujectId=data.value;
                adminForm.load({
                url: "@Url.Action("QueryProject", "ContracUser")?subjectId=" + sujectId,
                dataType: 'json',
                    callBack: function (rou) {
                     $("select[name='ProjectId']").html("<option value='0'>-科目-</option>");
                        if (rou.data != null) {
                            var result = rou.data;
                            for (var i = 0; i < result.length; i++) {
                                $("select[name='ProjectId']").append('<option value = ' + result[i].ProjectId + '>' + result[i].ProjectName + '</option>');
                            }
                        }
                    }
                });
            });
            $("#btnSearch").click(function () {
                calendar.refetchEvents();
                if ($("input[name='StartTime']").val() == "")
                    $("input[name='StartTime']").val(defaultStartTime);
                if ($("input[name='EndTime']").val() == "")
                    $("input[name='EndTime']").val(defaultEndTime);
                initable.reload({
                    where: {
                        startStr: $("input[name='StartTime']").val(), endStr: $("input[name='EndTime']").val(), userName: $("#txtTitle").val(),
                        subjectId:$("select[name='SubjectId']").val(),projectId:$("select[name='ProjectId']").val()}
                });
            })
            var initable=adminList.tableLayUI({
                        elem: '#userTable',
                        url: '@Url.Action("QueryWorkSource2")',
                        page: true,
                        where: {
                            startStr: defaultStartTime, endStr: defaultEndTime, userName: $("#txtTitle").val(),
                            subjectId: $("select[name='SubjectId']").val(), projectId: $("select[name='ProjectId']").val()
                        },
                        cellMinWidth: 100,
                        cols: [[
                            { type: 'checkbox' },
                            { field: 'Work_Title', title: '上课科目', sort: true },
                            {
                                field: 'AT_Date', title: '上课日期', sort: true, width: 120, templet: function (d) {
                                    return dateFtt("yyyy-MM-dd", d.AT_Date);
                                }
                            },
                            {
                                field: 'StartTime', title: '时间段', sort: true, width: 120, templet: function (d) {
                                    return d.StartTime + " - " + d.EndTime;
                                }
                            },
                            { field: 'TeacherName', title: '教师', sort: true, width: 120 },
                            { field: 'RoomName', title: '教室', sort: true, width: 120 },
                            { field: 'TaUserName', title: '督学', sort: true, width: 120 },
                            {
                                field: 'Work_Stutas', title: '状态', sort: true, width: 120, templet: function (d) {
                                    if (d.StudyMode != 3)
                                        return d.Work_Stutas > 0 ? " <span style=' background-color:#6ab36a;color: white;'>已点评</span>" : "未点评";
                                    else
                                        return "休息中";
                                }
                            },
                            { align: 'center', toolbar: '#tableBar', title: '操作', width: 200 }
                ]],
                        parseData: function (res) {
                            if (res.totalRow!= null)
                                $("#totalCourseTime").text($("#txtTitle").val() + "已上课时：" + res.totalRow.totalCourseTime + "h");
                            else
                                $("#totalCourseTime").text("");
                        }
                    });
            // 工具条点击事件
            adminList.table.on('tool(userTable)', function (obj) {
                        var data = obj.data;
                        var layEvent = obj.event;
                        if (layEvent === 'edit') { // 修改
                            showEditModel(data.Id, '', initable);
                        }
                        else if (layEvent === 'dianpin') {
                            ShowComment(data.Id, initable);
                        }
                        else if (layEvent === 'del') { // 删除
                             layer.confirm('确定要删除该课程吗?', {
                                        btn: ['确定', '取消'] //按钮
                             }, function (index) {
                                        adminForm.Save({
                                             url:'@Url.Action("RemoveCourseWork")',
                                             data: { id: data.Id},
                                             callBack: function (result) {
                                                 layer.msg(result.msg);
                                                 layer.close(index);
                                            }
                                         })
                                    }, function () {
                               });
                        }
            });
            //tab监听
            element.on('tab(tabWork)', function (data) {
                if (data.index == 0) {
                    calendar.refetchEvents();
                } else if (data.index == 1) {
                    $("input[name='StartTime']").val(defaultStartTime);
                    $("input[name='EndTime']").val(defaultEndTime);
                    initable.reload({
                        where: {
                            startStr: $("input[name='StartTime']").val(), endStr: $("input[name='EndTime']").val(), userName: $("#txtTitle").val(),
                            subjectId: $("select[name='SubjectId']").val(), projectId: $("select[name='ProjectId']").val()}
                    });
                }
            });
            //一键复制
            $("#btnCopy").click(function () {
                var workIds = [];
                var checkStatus = table.checkStatus('userTable');
                if (checkStatus.data.length > 0) {
                    checkStatus.data.forEach(item => {
                        workIds.push(item.Id);
                    });
                    adminForm.Save({
                        url: '@Url.Action("CopyCourseWork")',
                        data:{workIds: workIds},
                        callBack: function () {

                        }
                    })
                }
                else {
                    layer.msg("请选择需要复制的课程");
                }
            })


         $("input[name='txtTitle']").click(function () {
                adminForm.load({
                        url: "@Url.Action("QueryNameAll")",
                        data: {title: $(this).val() },
                        dataType: 'json',
                        callBack: function (rou) {
                            if (rou.data != null && rou.data.length > 0) {
                                var result = rou.data;
                                document.getElementById("searchName").style.display = "block";
                                var html = template("searchNameTemp", { data: result });
                                document.getElementById("searcNamebody").innerHTML = html;
                            }
                            else {
                                document.getElementById("searchName").style.display = "none";
                            }
                        }
                    });
            })
         $("input[name='txtTitle']").keyup(function () {
                adminForm.load({
                    url: "@Url.Action("QueryNameAll")",
                    data: {title: $(this).val() },
                    dataType: 'json',
                    callBack: function (rou) {
                        if (rou.data != null && rou.data.length>0) {
                            var result = rou.data;
                            document.getElementById("searchName").style.display = "block";
                            var html = template("searchNameTemp", { data: result });
                            document.getElementById("searcNamebody").innerHTML = html;
                        }
                        else {
                            document.getElementById("searchName").style.display = "none";
                        }
                    }
                });
            });
     });

        function SetListenTr(vmodel) {
            vmodel = JSON.parse(vmodel);
            $("input[name='txtTitle']").val(vmodel.Name);
            $("#searchName").css("display", "none");
        }

    function dateFtt(fmt, val) { //author: meizz
        var date = new Date(val);
        var o = {
            "M+": date.getMonth() + 1,     //月份
            "d+": date.getDate(),     //日
            "h+": date.getHours(),     //小时
            "m+": date.getMinutes(),     //分
            "s+": date.getSeconds(),     //秒
            "q+": Math.floor((date.getMonth() + 3) / 3), //季度
            "S": date.getMilliseconds()    //毫秒
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (date.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }


    function dateFormat(fmt, datestr) {
        var date = new Date(datestr);
        let ret;
        const opt = {
            "Y+": date.getFullYear().toString(),        // 年
            "m+": (date.getMonth() + 1).toString(),     // 月
            "d+": date.getDate().toString(),            // 日
            "H+": date.getHours().toString(),           // 时
            "M+": date.getMinutes().toString(),         // 分
            "S+": date.getSeconds().toString()          // 秒
            // 有其他格式化字符需求可以继续添加，必须转化成字符串
        };
        for (let k in opt) {
            ret = new RegExp("(" + k + ")").exec(fmt);
            if (ret) {
                fmt = fmt.replace(ret[1], (ret[1].length == 1) ? (opt[k]) : (opt[k].padStart(ret[1].length, "0")))
            };
        };
        return fmt;
    }

    </script>
}
