
<div style="margin-top: 15px; margin-left: 10px; margin-right: 10px">
    <div style="display: flex;">
        <div style="text-align:left;flex:1">
            <button class="layui-btn" type="button" id="preWeek">Pre</button>
            <button class="layui-btn" type="button" id="nextWeek">Next</button>
        </div>
        <div style="text-align:center;flex:1"><span style=" line-height: 38px;font-weight:700">当前学员:@ViewBag.studentName</span></div>
        <div style="flex:1;text-align:right;">
            <div style="display: flex; flex-wrap: wrap">
                <label class="layui-form-label">导出时间段</label>
                <input name="StartTime" id="StartTime" placeholder="开始时间" class="layui-input" style="width:100px" />&nbsp;<span style="width: 2px;
                padding-top: 5px;margin-right: 5px;color: yellowgreen">_</span> &nbsp;
                <input name="EndTime" id="EndTime" placeholder="截止时间" class="layui-input" style="width:100px" />
                <button class="layui-btn" type="button" onclick="exportPlan()" style="margin-left:5px">导出</button>
            </div>
        </div>
    </div>
    <table class="layui-table" >
        <tbody id="plantbody">
        </tbody>
    </table>
    <input type="hidden" name="StudentUid" value="@ViewBag.studentUid" />
</div>
@section css{
    <link rel="stylesheet" href="/assets/module/formSelects/formSelects-v4.css" />
    <style>
        .layui-table-cell {
            height: auto;
            line-height: 28px;
        }

        .layui-table img {
            max-width: 600px;
        }
        .planPart {
            border-color: rgb(224, 224, 224);
            background-color: yellowgreen;
            box-shadow: 0px 0px 0px 1px #fff;
            color: white;
            font-size:12px;
        }
        .planPartBlue {
            border-color: rgb(224, 224, 224);
            background-color: cadetblue;
            box-shadow: 0px 0px 0px 1px #fff;
            color: white;
            font-size: 12px;
        }
        .planPartMoack{
            border-color: rgb(224, 224, 224);
            background-color:#c6b62e;
            box-shadow: 0px 0px 0px 1px #fff;
            color: white;
            font-size: 12px;
        }
        .planPartshik {
            border-color: rgb(224, 224, 224);
            background-color:#a24d65;
            box-shadow: 0px 0px 0px 1px #fff;
            color: white;
            font-size: 12px;
        }
    </style>
}
@section js{
    <!-- js部分 -->
    <script>
        layui.use(['form', 'admin', 'adminForm', 'laydate'], function () {
            var form = layui.form;
            var admin = layui.admin;
            var adminForm = layui.adminForm;
            var laydate = layui.laydate;
            //日期
            laydate.render({
                elem: '#StartTime'
                , type: 'date',
                format: 'yyyy-MM-dd'
            });
            laydate.render({
                elem: '#EndTime'
                , type: 'date',
                format: 'yyyy-MM-dd'
            });
        });

        var plan = {
            isAdd: 0,
            starttime:null,
            endtime:null
        }
        $("#preWeek").click(function () {
            plan.isAdd = 1;
            planSearch(plan);
        })
        $("#nextWeek").click(function () {
            plan.isAdd =2;
            planSearch(plan);
        })
        function planSearch(plan) {
            layui.use(['form','admin', 'adminForm'], function () {
                     var admin = layui.admin;
                     var adminForm = layui.adminForm;
                     $("#plantbody").html("");
                     adminForm.load({
                        url: "@Url.Action("QueryStudentPlan")",
                        data: { studentUid: $("input[name='StudentUid']").val(), isAdd: plan.isAdd, starttime: plan.starttime, endtime: plan.endtime },
                        dataType: 'json',
                        callBack: function (rou) {
                            if (rou != null) {
                                var result = rou;
                                for (var i = 0; i < 18; i++) {
                                    if (i == 0) {
                                        $("#plantbody").append("<tr>");
                                        $("#plantbody").append("<td style='width:80px;'>日期</td>");
                                        for (var j = 0; j < result.length; j++) {
                                            if (j == 0) {
                                                plan.starttime = dateFtt("yyyy-MM-dd", result[j].WorkDate);
                                            }
                                            if (j == result.length-1) {
                                                plan.endtime = dateFtt("yyyy-MM-dd", result[j].WorkDate);
                                            }
                                            $("#plantbody").append("<td style='text-align:center;min-width:160px;'> " + dateFtt("yyyy-MM-dd", result[j].WorkDate) + " </td>");
                                        }
                                        $("#plantbody").append("</tr>");
                                    }
                                    else if (i == 1) {
                                        $("#plantbody").append("<tr>");
                                        $("#plantbody").append("<td style='width:80px;'>星期</td>");
                                        for (var j = 0; j < result.length; j++) {
                                            $("#plantbody").append("<td style='text-align:center;'>" + result[j].WorkDateName + "</td>");
                                        }
                                        $("#plantbody").append("</tr>");
                                    }
                                    else if (i == 2) {
                                        $("#plantbody").append("<tr>");
                                        $("#plantbody").append("<td style='width:100px;'>8:00-10:00</td>");
                                        for (var j = 0; j < result.length; j++) {
                                            var planVmodel = {
                                                Id: result[j].Eight_Ten_Id,
                                                workTtile: result[j].Eight_Ten_OlockTitle,
                                                workDate: result[j].WorkDate,
                                                startTime: '8:00',
                                                endTime:'10:00'
                                            }
                                            var jsonVmodel = JSON.stringify(planVmodel);
                                            var isReversion = result[j].Eight_Ten_Reversion;
                                            var studymodel = result[j].Eight_Ten_StudyMode;
                                            var classColor = "planPartBlue";
                                            if (planVmodel.Id > 0 && isReversion == false) {
                                                classColor = "planPartBlue";
                                            }
                                            else {
                                                classColor = "planPart"
                                                if (studymodel == 5) {
                                                    classColor = "planPartMoack"
                                                }
                                                else if (studymodel == 6) {
                                                    classColor = "planPartshik"
                                                }
                                            }
                                            $("#plantbody").append("<td onclick='planShow(" + jsonVmodel + ")'><div class='"+ classColor+"'>" + (result[j].Eight_Ten_OlockTitle != null ? result[j].Eight_Ten_OlockTitle : "") + "</div></td>");
                                        }
                                        $("#plantbody").append("</tr>");
                                    }
                                    else if (i == 3) {
                                        $("#plantbody").append("<tr>");
                                        $("#plantbody").append("<td style='width:100px;'>10:00-12:00</td>");
                                        for (var j = 0; j < result.length; j++) {
                                            var planVmodel = {
                                                Id: result[j].Ten_Twelve_Id,
                                                workTtile: result[j].Ten_Twelve_OlockTitle,
                                                workDate: result[j].WorkDate,
                                                startTime: '10:00',
                                                endTime: '12:00'
                                            }
                                            var jsonVmodel = JSON.stringify(planVmodel);
                                            var isReversion = result[j].Ten_Twelve_Reversion;
                                            var studymodel = result[j].Ten_Twelve_StudyMode;
                                            var classColor = "planPartBlue"; 
                                            if (planVmodel.Id > 0 && isReversion == false) {
                                                classColor = "planPartBlue";
                                            }
                                            else {
                                                classColor = "planPart"
                                                if (studymodel == 5) {
                                                    classColor = "planPartMoack"
                                                }
                                                else if (studymodel == 6) {
                                                    classColor = "planPartshik"
                                                }
                                            }
                                            $("#plantbody").append("<td onclick='planShow(" + jsonVmodel + ")'><div class='" + classColor +"'>" + (result[j].Ten_Twelve_OlockTitle == null ? "" : result[j].Ten_Twelve_OlockTitle) +"</div></td>");
                                        }
                                        $("#plantbody").append("</tr>");
                                    }
                                    else if (i == 4) {
                                        $("#plantbody").append("<tr>");
                                        $("#plantbody").append("<td style='width:100px;'>13:00-15:00</td>");
                                        for (var j = 0; j < result.length; j++) {
                                            var planVmodel = {
                                                Id: result[j].Thirteen_Fifteen_Id,
                                                workTtile: result[j].Thirteen_Fifteen_OlockTitle,
                                                workDate: result[j].WorkDate,
                                                startTime: '13:00',
                                                endTime: '15:00'
                                            }
                                            var jsonVmodel = JSON.stringify(planVmodel);
                                            var isReversion = result[j].Thirteen_Fifteen_Reversion;
                                            var studymodel = result[j].Thirteen_Fifteen_StudyMode;
                                            var classColor = "planPartBlue";
                                            if (planVmodel.Id > 0 && isReversion == false) {
                                                classColor = "planPartBlue";
                                            }
                                            else {
                                                classColor = "planPart"
                                                if (studymodel == 5) {
                                                    classColor = "planPartMoack"
                                                }
                                                else if (studymodel == 6) {
                                                    classColor = "planPartshik"
                                                }
                                            }
                                            $("#plantbody").append("<td onclick='planShow(" + jsonVmodel + ")'><div class='" + classColor+ "'>" + (result[j].Thirteen_Fifteen_OlockTitle == null ? "" : result[j].Thirteen_Fifteen_OlockTitle) + "</div></td>");
                                        }
                                        $("#plantbody").append("</tr>");
                                    }
                                    else if (i == 5) {
                                        $("#plantbody").append("<tr>");
                                        $("#plantbody").append("<td style='width:100px;'>15:00-17:00</td>");
                                        for (var j = 0; j < result.length; j++) {
                                            var planVmodel = {
                                                Id: result[j].Fifteen_Seventeen_Id,
                                                workTtile: result[j].Fifteen_Seventeen_OlockTitle,
                                                workDate: result[j].WorkDate,
                                                startTime: '15:00',
                                                endTime: '17:00'
                                            }
                                            var jsonVmodel = JSON.stringify(planVmodel);
                                            var isReversion = result[j].Fifteen_Seventeen_Reversion;
                                            var studymodel = result[j].Fifteen_Seventeen_StudyMode;
                                            var classColor = "planPartBlue";
                                            if (planVmodel.Id > 0 && isReversion == false) {
                                                classColor = "planPartBlue";
                                            }
                                            else {
                                                classColor = "planPart"
                                                if (studymodel == 5) {
                                                    classColor = "planPartMoack"
                                                }
                                                else if (studymodel == 6) {
                                                    classColor = "planPartshik"
                                                }
                                            }
                                            $("#plantbody").append("<td onclick='planShow(" + jsonVmodel + ")'><div class='" + classColor+"'>" + (result[j].Fifteen_Seventeen_OlockTitle == null ? "" : result[j].Fifteen_Seventeen_OlockTitle) +"</div></td>");
                                        }
                                        $("#plantbody").append("</tr>");
                                    }
                                    else if (i == 6) {
                                        $("#plantbody").append("<tr>");
                                        $("#plantbody").append("<td style='width:100px;'>17:00-19:00</td>");
                                        for (var j = 0; j < result.length; j++) {
                                            var planVmodel = {
                                                Id: result[j].Seventeen_Nineteen_Id,
                                                workTtile: result[j].Seventeen_Nineteen_OlockTitle,
                                                workDate: result[j].WorkDate,
                                                startTime: '17:00',
                                                endTime: '19:00'
                                            }
                                            var jsonVmodel = JSON.stringify(planVmodel);
                                            var isReversion = result[j].Seventeen_Nineteen_Reversion;
                                            var studymodel = result[j].Seventeen_Nineteen_StudyMode;
                                            var classColor = "planPartBlue";
                                            if (planVmodel.Id > 0 && isReversion == false) {
                                                classColor = "planPartBlue";
                                            }
                                            else {
                                                classColor = "planPart"
                                                if (studymodel == 5) {
                                                    classColor = "planPartMoack"
                                                }
                                                else if (studymodel == 6) {
                                                    classColor = "planPartshik"
                                                }
                                            }
                                            $("#plantbody").append("<td onclick='planShow(" + jsonVmodel + ")'><div class=" + classColor+">" + (result[j].Seventeen_Nineteen_OlockTitle == null ? "" : result[j].Seventeen_Nineteen_OlockTitle) +"</div></td>");
                                        }
                                        $("#plantbody").append("</tr>");
                                    }
                                    else if (i == 7) {
                                        $("#plantbody").append("<tr>");
                                        $("#plantbody").append("<td style='width:100px;'>19:00-21:00</td>");
                                        for (var j = 0; j < result.length; j++) {
                                            var planVmodel = {
                                                Id: result[j].Nineteen_TwentyOne_Id,
                                                workTtile: result[j].Nineteen_TwentyOne_OlockTitle,
                                                workDate: result[j].WorkDate,
                                                startTime: '19:00',
                                                endTime: '21:00'
                                            }
                                            var jsonVmodel = JSON.stringify(planVmodel);
                                            var isReversion = result[j].Nineteen_TwentyOne_Reversion;
                                            var studymodel = result[j].Nineteen_TwentyOne_StudyMode;
                                            var classColor = "planPartBlue";
                                            if (planVmodel.Id > 0 && isReversion == false) {
                                                classColor = "planPartBlue";
                                            }
                                            else {
                                                classColor = "planPart"
                                                if (studymodel == 5) {
                                                    classColor = "planPartMoack"
                                                }
                                                else if (studymodel == 6) {
                                                    classColor = "planPartshik"
                                                }
                                            }
                                            $("#plantbody").append("<td onclick='planShow(" + jsonVmodel + ")'><div class=" + classColor+ ">" + (result[j].Nineteen_TwentyOne_OlockTitle == null ? "" : result[j].Nineteen_TwentyOne_OlockTitle) + "</div></td>");
                                        }
                                        $("#plantbody").append("</tr>");
                                    }
                                    else if (i == 8) {
                                        $("#plantbody").append("<tr>");
                                        $("#plantbody").append("<td style='width:100px;'>单词</td>");
                                        for (var j = 0; j < result.length; j++) {
                                            var planVmodel = {
                                                Id: result[j].Id,
                                                workTtile: result[j].ChouciComent,
                                                workDate: result[j].WorkDate
                                            }
                                            var jsonVmodel = JSON.stringify(planVmodel);
                                            $("#plantbody").append("<td onclick='planShow2(" + jsonVmodel+")'>" + (result[j].ChouciComent == null ? "" : result[j].ChouciComent)+"</td>");
                                        }
                                        $("#plantbody").append("</tr>");
                                    }
                                    else if (i == 9) {
                                        $("#plantbody").append("<tr>");
                                        $("#plantbody").append("<td style='width:100px;'>课程点评</td>");
                                        for (var j = 0; j < result.length; j++) {
                                            var planVmodel = {
                                                Id: result[j].Id,
                                                workTtile: result[j].CourseComent,
                                                workDate: result[j].WorkDate
                                            }
                                            var jsonVmodel = JSON.stringify(planVmodel);
                                            $("#plantbody").append("<td onclick='planShow2(" + jsonVmodel +")'>" + (result[j].CourseComent == null ? "" : result[j].CourseComent) +"</td>");
                                        }
                                        $("#plantbody").append("</tr>");
                                    }
                                    else if (i == 10) {
                                        $("#plantbody").append("<tr>");
                                        $("#plantbody").append("<td style='width:100px;'>布置作业</td>");
                                        for (var j = 0; j < result.length; j++) {
                                            $("#plantbody").append("<td>" + (result[j].CourseWorkCotent == null ? "" : result[j].CourseWorkCotent) + "</td>");
                                        }
                                        $("#plantbody").append("</tr>");
                                    }
                                    else if (i == 11) {
                                        $("#plantbody").append("<tr>");
                                        $("#plantbody").append("<td style='width:100px;'>作业完成情况</td>");
                                        for (var j = 0; j < result.length; j++) {
                                            var planVmodel = {
                                                Id: result[j].Id,
                                                workTtile: result[j].HomeWorkComent,
                                                workDate: result[j].WorkDate
                                            }
                                            var jsonVmodel = JSON.stringify(planVmodel);
                                            $("#plantbody").append("<td onclick='planShow2(" + jsonVmodel +")'>" + (result[j].HomeWorkComent == null ? "" : result[j].HomeWorkComent) +"</td>");
                                        }
                                        $("#plantbody").append("</tr>");
                                    }
                                    else if (i == 12) {
                                        $("#plantbody").append("<tr>");
                                        $("#plantbody").append("<td style='width:100px;'>其它</td>");
                                        for (var j = 0; j < result.length; j++) {
                                            var planVmodel = {
                                                Id: result[j].Id,
                                                workTtile: result[j].OtherComent,
                                                workDate: result[j].WorkDate
                                            }
                                            var jsonVmodel = JSON.stringify(planVmodel);
                                            $("#plantbody").append("<td onclick='planShow2(" + jsonVmodel +")'>" + (result[j].OtherComent == null ? "" : result[j].OtherComent)+ "</td>");
                                        }
                                        $("#plantbody").append("</tr>");
                                    }
                                    else if (i == 13) {
                                        $("#plantbody").append("<tr>");
                                        $("#plantbody").append("<td style='width:100px;'>责任助教</td>");
                                        for (var j = 0; j < result.length; j++) {
                                            var planVmodel = {
                                                Id: result[j].Id,
                                                workTtile:null,
                                                workDate: result[j].WorkDate
                                            }
                                            var jsonVmodel = JSON.stringify(planVmodel);
                                            $("#plantbody").append("<td onclick='planShow2(" + jsonVmodel + ")'>" + (result[j].TaUseName == null ? "" : result[j].TaUseName)+ "</td>");
                                        }
                                        $("#plantbody").append("</tr>");
                                    }
                                    else if (i == 14) {
                                        $("#plantbody").append("<tr>");
                                        $("#plantbody").append("<td style='width:100px;'>每日总结</td>");
                                        for (var j = 0; j < result.length; j++) {
                                            var planVmodel = {
                                                Id: result[j].Id,
                                                workTtile: result[j].SummaryComent,
                                                workDate: result[j].WorkDate
                                            }
                                            var jsonVmodel = JSON.stringify(planVmodel);
                                            $("#plantbody").append("<td onclick='planShow2(" + jsonVmodel +")'>" + (result[j].SummaryComent == null ? "" : result[j].SummaryComent)+ "</td>");
                                        }
                                        $("#plantbody").append("</tr>");
                                    }
                                    else if (i == 15) {
                                        $("#plantbody").append("<tr>");
                                        $("#plantbody").append("<td style='width:100px;'>到校时间</td>");
                                        for (var j = 0; j < result.length; j++) {
                                            var planVmodel = {
                                                Id: result[j].Id,
                                                workTtile: result[j].InSchoolTime,
                                                workDate: result[j].WorkDate
                                            }
                                            var jsonVmodel = JSON.stringify(planVmodel);
                                            $("#plantbody").append("<td onclick='planShow2(" + jsonVmodel + ")'>" + (result[j].InSchoolTime == null ? "" : result[j].InSchoolTime) + "</td>");
                                        }
                                        $("#plantbody").append("</tr>");
                                    }
                                    else if (i == 16) {
                                        $("#plantbody").append("<tr>");
                                        $("#plantbody").append("<td style='width:100px;'>离校时间</td>");
                                        for (var j = 0; j < result.length; j++) {
                                            var planVmodel = {
                                                Id: result[j].Id,
                                                workTtile: result[j].OutSchoolTime,
                                                workDate: result[j].WorkDate
                                            }
                                            var jsonVmodel = JSON.stringify(planVmodel);
                                            $("#plantbody").append("<td onclick='planShow2(" + jsonVmodel + ")'>" + (result[j].OutSchoolTime == null ? "" : result[j].OutSchoolTime) + "</td>");
                                        }
                                        $("#plantbody").append("</tr>");
                                    }
                                }
                            }
                            if (plan.starttime != undefined && plan.starttime != null) {
                                $("#StartTime").val(plan.starttime);
                            }
                            if (plan.endtime != undefined && plan.endtime != null) {
                                $("#EndTime").val(plan.endtime);
                            }
                        }
                    });
            });

        }
        planSearch(plan);
        function exportPlan() {
            var studentUid = $("input[name='StudentUid']").val();
            window.location.href = '@Url.Action("ExportPlan")?studentUid=' + studentUid + '&isAdd=' + plan.isAdd + '&starttime=' + $("#StartTime").val() + '&endtime=' +$("#EndTime").val();
       }
      function planShow(vmodel) {
        var studentUid = $("input[name='StudentUid']").val();
        if (vmodel.Id==0 &&vmodel.workTtile !=null) {return false;}
         layui.use([ 'adminList'], function () {
            var adminList = layui.adminList;
                adminList.form({
                title: (vmodel.Id > 0 ? '修改' : '添加') + '任务计划',
                type: 2,
                width: "660px",
                height: "530px",
                content: vmodel.Id > 0 ? '@Url.Action("Edit")?ID=' + vmodel.Id : '@Url.Action("Add")?studentUid=' + studentUid + '&dataStr=' + dateFtt("yyyy-MM-dd",vmodel.workDate) + '&startTime=' + vmodel.startTime + '&endTime=' + vmodel.endTime,
                end: function () {
                    plan.isAdd = 0;
                    planSearch(plan);
                }
            });
        });
    }
      function planShow2(vmodel) {
          var studentUid = $("input[name='StudentUid']").val();
          if (vmodel.Id == 0 && vmodel.workTtile != null && vmodel.workTtile !='') {return false;}
         layui.use([ 'adminList'], function () {
            var adminList = layui.adminList;
                adminList.form({
                title: (vmodel.Id > 0 ? '修改' : '添加') + '任务计划',
                type: 2,
                width: "660px",
                height: "530px",
                content: vmodel.Id > 0 ? '@Url.Action("EditComment")?ID=' + vmodel.Id : '@Url.Action("AddComment")?studentUid=' + studentUid + '&dataStr=' + dateFtt("yyyy-MM-dd",vmodel.workDate),
                end: function () {
                    plan.isAdd = 0;
                    planSearch(plan);
                }
            });
        });
    }
      function dateFtt(fmt, val) { //author: meizz
        var date = new Date(val);
        var o = {
            "M+": date.getMonth() + 1,     //月份
            "d+": date.getDate(),     //日
            "h+": date.getHours(),     //小时
            "m+": date.getMinutes(),     //分
            "s+": date.getSeconds(),     //秒
            "q+": Math.floor((date.getMonth() + 3) / 3), //季度
            "S": date.getMilliseconds()    //毫秒
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (date.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
    </script>
}