@{
    var KeyId = ViewBag.ID;
}

<form id="modelUserForm" lay-filter="modelUserForm" class="layui-form model-form">
    <input name="ClueId" type="hidden" value="@ViewBag.ID" />
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label required">学生姓名</label>
            <div class="layui-input-inline">
                <input name="Student_Name" placeholder="请输入学生姓名" maxlength="120" lay-verify="required" class="layui-input" required />
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-inline">
                <input type="radio" value="男" name="Sex" title="男" />
                <input type="radio" value="女" name="Sex" title="女" />
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">出生年月</label>
            <div class="layui-input-inline">
                <input type="text" name="Birthday" id="Birthday" class="layui-input" />
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">在读学校</label>
            <div class="layui-input-inline">
                <input name="InSchool" type="text" class="layui-input" />
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">年级</label>
            <div class="layui-input-inline">
                <input name="Grade" type="text" class="layui-input" />
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">来源</label>
            <div class="layui-input-inline">
                <input name="Soure" type="text" class="layui-input" />
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">学生电话</label>
            <div class="layui-input-inline">
                <input name="Student_Phone" type="text" class="layui-input" />
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">学生微信</label>
            <div class="layui-input-inline">
                <input name="Student_Wechat" type="text" class="layui-input" />
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">学生Email</label>
            <div class="layui-input-inline">
                <input name="Student_Email" type="text" class="layui-input" />
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">家长姓名</label>
            <div class="layui-input-inline">
                <input name="Elder_Name" type="text" class="layui-input" />
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">家长身份</label>
            <div class="layui-input-inline">
                <input name="Elder_Identity" type="text" class="layui-input" />
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">家长电话</label>
            <div class="layui-input-inline">
                <input name="Elder_Phone" type="text" class="layui-input" />
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">家长微信</label>
            <div class="layui-input-inline">
                <input name="Elder_Wechat" type="text" class="layui-input" />
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">家长2身份</label>
            <div class="layui-input-inline">
                <input name="Elder_Identity2" type="text" class="layui-input" />
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">家长2电话</label>
            <div class="layui-input-inline">
                <input name="Elder_Phone2" type="text" class="layui-input" />
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">家长2姓名</label>
            <div class="layui-input-inline">
                <input name="Elder_Name2" type="text" class="layui-input" />
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">家长Email</label>
            <div class="layui-input-inline">
                <input name="Elder_Email" type="text" class="layui-input" />
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">家长2Email</label>
            <div class="layui-input-inline">
                <input name="Elder_Email2" type="text" class="layui-input" />
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">多个联系人</label>
        <div class="layui-input-block">
            <input name="More_Contacts" type="text" class="layui-input" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">学员状态</label>
        <div class="layui-input-block">
            <input type="radio" value="0" name="Student_Status" title="未上门" />

            <input type="radio" value="1" name="Student_Status" title="已上门" />

            <input type="radio" value="2" name="Student_Status" title="登记汇款" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">课程</label>
        <div class="layui-input-block">
            <div style="display:flex;flex-wrap:wrap" id="coursesList">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">学生简介</label>
        <textarea name="Recommend" style="width:98%;height:150px;margin:0px 10px 0 33px"></textarea>
    </div>
    <div class="layui-form-item positionbottomtop"></div>
    <div class="layui-form-item text-right positionbottom">
        <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        <button class="layui-btn" lay-filter="modelUserSubmit" lay-submit>保存</button>
    </div>
</form>

@section css{
<style>
    .ke-container {
        margin-left: 33px !important;
    }

    .ke-edit, .ke-edit-iframe, .ke-edit-textarea {
        height: 266px !important;
    }
    .layui-form-label.required:after { 
        content: ' *';
        color: red;
    }
</style>
}

@section js{
    <!-- js部分 -->
    <link href="~/kindeditor/themes/default/default.css" rel="stylesheet" />
    <script type="text/html" id="tempCourses">
        {{each data item index}}
        <div style="width:143px;">
            <input type="checkbox" lay-skin="primary" name="courseGroup" value="{{item.CourseId}}"  title="{{item.CourseName}}"/>
        </div>
        {{/each}}
    </script>
    <script>
        layui.use(['form', 'admin', 'adminForm', 'laydate'], function () {
        var KeyId = '@KeyId';
        var $ = layui.jquery;
        var form = layui.form;
        var admin = layui.admin;
        var adminForm = layui.adminForm;
        var laydate = layui.laydate;


        //日期
        laydate.render({
            elem: '#Birthday',
            format: 'yyyy-MM-dd',
            type: 'date',
        });
        laydate.render({
            elem: '#FirstTime',
            format: 'yyyy-MM-dd',
            type: 'datetime',
        });
        var App = {
            Load: function () {
                        adminForm.load({
                            url: "@Url.Action("QueryCourseList")",
                            dataType: 'json',
                            callBack: function (rou) {
                                 adminForm.load({
                                    formName: 'modelUserForm',
                                    KeyId: '@KeyId',
                                    url: "@Url.Action("Find")",
                                    dataType: 'json',
                                     callBack: function (r) {
                                         if (r.Birthday != null) {
                                             $("input[name='Birthday']").val(dateFtt("yyyy-MM-dd", r.Birthday));
                                         }
                                         if (r.Sex != undefined && r.Sex != null) {
                                             $("input[name='Sex'][value='" + r.Sex + "']").attr("checked");
                                         }
                                         if (r.Student_Status != undefined && r.Student_Status != null) {
                                             $("input[name='Student_Status'][value='" + r.Student_Status + "']").attr("checked",true);
                                         }
                                         if (rou.data != null) {
                                             var result = rou.data;
                                             for (var i = 0; i < result.length; i++) {
                                                 if (r != undefined && r.SubjectIds != null && r.SubjectIds.indexOf(result[i].SubjectId) > -1) {
                                                     $("#coursesList").append('<div style="width: 143px;"><input type = "checkbox" lay-skin="primary" name="courseGroup" value = ' + result[i].SubjectId + '  title = ' + result[i].SubjectName + ' checked/></div >');

                                                 } else {
                                                     $("#coursesList").append('<div style="width: 143px;"><input type = "checkbox" lay-skin="primary" name="courseGroup" value = ' + result[i].SubjectId + '  title = ' + result[i].SubjectName + ' /></div >');
                                                 }
                                             }
                                         }
                                    }
                                });
                            }
                        });
            },
            Save: function (data) {
                if (data.field.Student_Phone == "" && data.field.Student_Wechat == "" && data.field.Elder_Phone == "" && data.field.Elder_Wechat == ""){
                    layer.msg("请填写学员手机,微信，家长手机,微信的其中一项");
                    return false;
                }
                var courseList = [];
                $("input[name='courseGroup']:checked").each(function (i, item) {
                  courseList.push($(item).val());
                });
                data.field.SubjectIds = courseList;
                data.field.Is_Visit = $("input[name='Student_Status']:checked").val();
                adminForm.Save({
                    url: KeyId ? '@Url.Action("SaveInfo")' : '@Url.Action("SaveInfo")',
                    data: data.field,
                    callBack: function () {
                        admin.closeThisDialog();
                    }
                })
            }
        }

        App.Load();
        // 表单提交事件
        form.on('submit(modelUserSubmit)', function (data) {
            App.Save(data);
            return false;
        });
        });
        function dateFtt(fmt, val) { //author: meizz
            var date = new Date(val);
            var o = {
                "M+": date.getMonth() + 1,     //月份
                "d+": date.getDate(),     //日
                "h+": date.getHours(),     //小时
                "m+": date.getMinutes(),     //分
                "s+": date.getSeconds(),     //秒
                "q+": Math.floor((date.getMonth() + 3) / 3), //季度
                "S": date.getMilliseconds()    //毫秒
            };
            if (/(y+)/.test(fmt))
                fmt = fmt.replace(RegExp.$1, (date.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt))
                    fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
    </script>
}