@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">关键字：</label>
                        <div class="layui-input-inline mr0">
                            <input id="txtTitle" class="layui-input" type="text" placeholder="输入标题" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button id="btnSearch" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
                    </div>
                    <div class="layui-inline">
                        <button id="btnAdd" class="layui-btn icon-btn" data-power="Add"><i class="layui-icon">&#xe654;</i>新签学员</button>
                    </div>
                    <div class="layui-inline">
                        <button id="btnAssignCC" class="layui-btn icon-btn" data-power="Audit"><i class="layui-icon">&#xe66f;</i>分配CC</button>
                    </div>
                    <div class="layui-inline">
                        <button id="btnAssignCR" class="layui-btn icon-btn" data-power="Audit"><i class="layui-icon">&#xe66f;</i>分配CR</button>
                    </div>
                    <div class="layui-inline">
                        <button id="btnAddAccount" class="layui-btn icon-btn" data-power="Audit"><i class="layui-icon">&#xe66f;</i>创建账号</button>
                    </div>
                    <div class="layui-inline">
                        <button id="btnAddContract" class="layui-btn icon-btn" data-power="AddContract"><i class="layui-icon">&#xe654;</i>创建合同</button>
                    </div>
                </div>
            </div>

            <table class="layui-table" id="userTable" lay-filter="userTable"></table>
        </div>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="tableBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" data-power="Edit" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" data-power="Edit" lay-event="plan">任务计划</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="courseDetail">课程详情</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" data-power="Delete" lay-event="del">删除</a>
</script>

@section css{
    <link rel="stylesheet" href="/assets/module/formSelects/formSelects-v4.css" />
    <style>
        .layui-table-cell {
            height: auto;
            line-height: 28px;
        }

        .layui-table img {
            max-width: 600px;
        }

        .leftTotalItem {
            line-height: 36px;
            padding-left: 10px;
            display: flex;
            width:600px;
            background-color:white;
        }

            .leftTotalItem .item {
                width: 120px;
                border:#666;
            }
    </style>
}
@section js{
    <script type="text/html" id="templateCousrseDetailItem">
        {{each data item index}}
        {{if item.ClassId>0}}
        <div class="leftTotalItem">
            <div>
                <span style="font-weight: 700">小班:{{item.Class_Name}}</span>
            </div>
            <div class="item" style="margin-left:30px">分类:{{item.SubjectName}}</div>
            <div class="item">已充课时:{{item.Class_Course_Time}}</div>
            <div class="item">使用课时:{{item.Class_Course_UseTime}}</div>
            <div class="item">还剩课时:{{item.Class_Course_Time-item.Class_Course_UseTime}}</div>
        </div>
        {{else}}
        <div class="leftTotalItem">
            <div>
                <span style="font-weight:700">1对1:{{item.SubjectName}}</span>
            </div>
            <div class="item" style="margin-left:30px">科目:{{item.ProjectName}}</div>
            <div class="item">已充课时:{{item.Course_Time}}</div>
            <div class="item">使用课时:{{item.Course_UseTime}}</div>
            <div class="item">还剩课时:{{item.Course_Time-item.Course_UseTime}}</div>
        </div>
        {{/if}}
        {{/each}}
    </script>
    <!-- js部分 -->
    <script>
    layui.use(['form', 'util', 'admin', 'adminList', 'table', 'adminForm'], function () {
    var $ = layui.jquery;
    var util = layui.util;
    var admin = layui.admin;
    var table = layui.table;
    var adminList = layui.adminList;
    var adminForm = layui.adminForm;

    // 渲染表格
    var insTb = adminList.tableLayUI({
        elem: '#userTable',
        url: '@Url.Action("GetDataSource")',
        page: true,
        cellMinWidth: 100,
        cols: [[
            { type: 'checkbox', fixed: 'left' },
            { type: 'numbers' },
            {
                field: 'Student_Name', title: '学生名称', fixed: 'left', sort: true, templet: function (d) {
                    return "<div id='boxCounrseDetail" + d.StudentUid + "' onmouseover=\"showCourseDetailDiv(" + d.StudentUid + ");\" onmouseleave='closeTips();' >" + d.Student_Name + "</div>";
                }
            },
            { field: 'Sex', title: '性别', sort: true,width:50 },
            { field: 'Grade', title: '年级', sort: true },
            { field: 'Student_Phone', title: '手机', sort: true },
            { field: 'Amount', title: '余额', sort: true, width: 100 },
            {
                field: 'OpenId', title: '学生公众号', sort: true, width: 120, templet: function (d) {
                    return (d.OpenId != "" && d.OpenId != null ? "<span style='color: white;background-color:green;padding:3px;'>已绑定</span>" : "未绑定");
                }
            },
            {
                field: 'OpenId', title: '家长1', sort: true, width: 120, templet: function (d) {
                    return (d.Elder_OpenId != "" && d.Elder_OpenId != null ? "<span style='color: white;background-color:green;padding:3px;'>已绑定</span>" : "未绑定");
                }
            },
            {
                field: 'OpenId', title: '家长2', sort: true, width: 120, templet: function (d) {
                    return (d.Elder2_OpenId != "" && d.Elder2_OpenId != null ? "<span style='color: white;background-color:green;padding:3px;'>已绑定</span>" : "未绑定");
                }
            },
            { field: 'CC_UserName', title: '顾问', sort: true },
            { field: 'CR_UserName', title: 'CR', sort: true },
            { field: 'CampusName', title: '校区', sort: true },
            {
                field: 'Student_Account', title: '账号', sort: true, width: 100,templet: function (d) {
                    return (d.Student_Account != "" && d.Student_Account != null) ?"<span style='color:green'>"+d.Student_Account+" <i class='layui-icon layui-icon-ok'></i></span>":"";
                }
            },
            { field: 'Elder_Name', title: '联系人', sort: true },
            { align: 'center', toolbar: '#tableBar', fixed: 'right' , title: '操作', width: 250 }
        ]]
    });

    // 添加
    $('#btnAdd').click(function () {
        showEditModel();
    });

    // 新增合同
    $('#btnAddContract').click(function () {
        showAddContract();
    });
    //添加账号
   $("#btnAddAccount").click(function () {
        var checkStatus = table.checkStatus('userTable');
        if (checkStatus.data.length > 0) {
            if (checkStatus.data.length > 1) {
                layer.msg('只能选择一个学员!');
            }
            else {
                adminList.form({
                title: '添加账号',
                type: 2,
                width: "560px",
                height: "460px",
                    content: '@Url.Action("SettingAccount", "ContracUser")?ID=' + checkStatus.data[0].StudentUid,
                    end: function (data) {
                        insTb.reload();
                     }
                });
            }
        }
        else {
            layer.msg('请勾选一位学员!');
        }
   });
      //分配CC
  $("#btnAssignCC").click(function () {
        var checkStatus = table.checkStatus('userTable');
        if (checkStatus.data.length > 0) {
            if (checkStatus.data.length > 1) {
                layer.msg('只能选择一个学员!');
            }
            else {
                adminList.form({
                title: '分配CC',
                type: 2,
                width: "430px",
                height: "390px",
                    content: '@Url.Action("AssinCC")?ID=' + checkStatus.data[0].StudentUid,
                    end: function (data) {
                        insTb.reload();
                     }
                });
            }
        }
        else {
            layer.msg('请勾选一位学员!');
        }
  });
      //分配CR
  $("#btnAssignCR").click(function () {
        var checkStatus = table.checkStatus('userTable');
        if (checkStatus.data.length > 0) {
            if (checkStatus.data.length > 1) {
                layer.msg('只能选择一个学员!');
            }
            else {
                adminList.form({
                title: '分配CR',
                type: 2,
                    width: "430px",
                    height: "390px",
                    content: '@Url.Action("AssinCR")?ID=' + checkStatus.data[0].StudentUid,
                    end: function (data) {
                        insTb.reload();
                     }
                });
            }
        }
        else {
            layer.msg('请勾选一位学员!');
        }
    });
    // 搜索
    $('#btnSearch').click(function () {
        var title = $('#txtTitle').val();
        insTb.reload({
            where: { title: title }
            , page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    });

    // 工具条点击事件
    adminList.table.on('tool(userTable)', function (obj) {
        var data = obj.data;
        var layEvent = obj.event;
        if (layEvent === 'edit') { // 修改
            showEditModel(data);
        } else if (layEvent === 'del') { // 删除
            doDel(data.Id);
        } else if (layEvent === 'plan') { // 学员计划
            showplan(data.Student_Name,data.StudentUid);
        } else if (layEvent == 'courseDetail') {
            showCourseDetail(data.Student_Name,data.StudentUid);
        }
    });

    function showAddContract() {
        var checkStatus = table.checkStatus('userTable');
        if (checkStatus.data.length > 0) {
            if (checkStatus.data.length > 1) {
                layer.msg('只能选择一个学员!');
            }
            else {
                    adminList.form({
                    title: '创建合同',
                    type: 2,
                    width: "1060px",
                    height: "760px",
                        content: '@Url.Action("CreateContrc", "ContracUser")?clueId=0&studentId=' + checkStatus.data[0].StudentUid,
                        end: function (data) {
                            layer.msg("请在学员合同管理中查看合同");
                    }
                 });
            }
        }
        else {
            layer.msg('请勾选一位学员创建合同!');
        }
    }

    //显示表单弹窗
    function showEditModel(vmodel) {
        adminList.form({
            title: (vmodel ? '修改' : '添加') + '签约用户',
            type: 2,
            width: "1060px",
            height: "590px",
            content: vmodel ? '@Url.Action("Edit")?ID=' + vmodel.StudentUid : '@Url.Action("Add")?ID=0',
            end: function () {
                insTb.reload();
            }
        });
    }
    //删除
    function doDel(Id) {
        adminList.delete('@Url.Action("Delete")', { Id: Id}, function () {
            insTb.reload();
        });
    }
    //任务计划
        function showplan(userName,studentUid) {
        window.parent.layui.element.tabAdd('admin-pagetabs', {
            title: userName +'任务计划',
            content: '<iframe lay-id="' + studentUid + '" src="@Url.Action("index","StudentPlan")?studentUid=' + studentUid + '" frameborder="0" class="admin-iframe" style="width: 100%;height: 100%"></iframe>' //支持传入html
            , studentUid: studentUid
        });
    };
    function showCourseDetail(userName,studentUid) {
        window.parent.layui.element.tabAdd('admin-pagetabs', {
            title:userName+'课程详情',
            content: '<iframe lay-id="item' + studentUid + '" src="@Url.Action("CourseDetail")?studentUid=' + studentUid + '" frameborder="0" class="admin-iframe" style="width: 100%;height: 100%"></iframe>' //支持传入html
            , studentUid: studentUid
        });
    }
    });
        var tipsVal;
        function showCourseDetailDiv(uid) {
            layui.use(['form', 'admin', 'adminForm'], function () {
                var form = layui.form;
                var admin = layui.admin;
                var adminForm = layui.adminForm;
                    adminForm.load({
                    url: "@Url.Action("QueryStudentTotal", "ContracUser")",
                    data: { studentUid: uid},
                    dataType: 'json',
                        callBack: function (rou) {
                            if (rou.data != null && rou.data.length>0) {
                                var result = rou.data;
                                var htmlStr = template("templateCousrseDetailItem", { data: result });
                                tipsVal = layer.tips("<div style='color:#666;z-index=6;background-color: white;width:600px'>" + htmlStr + "</div>", "#boxCounrseDetail" + uid + "", {
                                tips: [2, "#ffffff"], time: 0, area: ['630px']
                                });
                            }
                        }
                    });
            });
        }
        function closeTips() {//关闭显示的信息
            layer.close(tipsVal);
        }
    </script>
}