@model C_Collection
<form id="modelUserForm" lay-filter="modelUserForm" class="layui-form model-form">
    <input name="CollgeId" type="hidden" value="@Model.Id" />
    <input type="hidden" name="Contra_ChildNo" value="@Model.RelationShip_Contras" />
    <div class="layui-form-item">
        <label class="layui-form-label">学生姓名</label>
        <div class="layui-input-block">
            <span style="line-height: 37px;">@Model.StudentName</span>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" >合同号</label>
        <div class="layui-input-block">
            <span style="line-height: 37px;">@Model.RelationShip_Contras</span>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">还款金额</label>
        <div class="layui-input-block">
            <input name="RepaymentAmount" placeholder="还款金额" class="layui-input" lay-verify="required" required  value="@Model.Amount"/>
        </div>
    </div>
    <div class="layui-form-item positionbottomtop"></div>
    <div class="layui-form-item text-right positionbottom">
        <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        <button class="layui-btn" lay-filter="modelUserSubmit" lay-submit>保存</button>
    </div>
</form>

@section css{
    <style>
        .ke-container {
            margin-left: 33px !important;
        }

        .ke-edit, .ke-edit-iframe, .ke-edit-textarea {
            height: 266px !important;
        }
    </style>
}

@section js{
    <!-- js部分 -->
    <link href="~/kindeditor/themes/default/default.css" rel="stylesheet" />
    <script>
    layui.use([ 'form', 'admin', 'adminForm'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var admin = layui.admin;
        var adminForm = layui.adminForm;

        var App = {
            Load: function () {

            },
            Save: function (data) {
                adminForm.Save({
                    url:'@Url.Action("SavePayment")',
                    data: data.field,
                    callBack: function () {
                        admin.closeThisDialog();
                    }
                })
            }
        }
        App.Load();
        // 表单提交事件
        form.on('submit(modelUserSubmit)', function (data) {
            App.Save(data);
            return false;
        });
    });
    </script>
}