@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">学员名称：</label>
                        <div class="layui-input-inline mr0">
                            <input id="txtTitle" class="layui-input" type="text" placeholder="学员名称" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">时间</label>
                        <div class="layui-input-inline mr0">
                            <input  name="StartTime" class="layui-input" type="text" placeholder="登记开始时间" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">—</label>
                        <div class="layui-input-inline mr0">
                            <input  name="EndTime" class="layui-input" type="text" placeholder="登记截止时间" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button id="btnSearch" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
                    </div>
                    <div class="layui-inline">
                        <button id="btnAdd" class="layui-btn icon-btn" data-power="Add"><i class="layui-icon">&#xe654;</i>添加</button>
                    </div>
                </div>
            </div>

            <table class="layui-table" id="userTable" lay-filter="userTable"></table>
        </div>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="tableBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" data-power="Edit" lay-event="edit">修改</a>
    {{# if(d.PayStatus==0){ }}
    <a class="layui-btn layui-btn-primary layui-btn-xs" data-power="Audit" lay-event="config">确认收款</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" data-power="Audit" lay-event="reject">驳回收款</a>
    {{#}}}
    <a class="layui-btn layui-btn-danger layui-btn-xs" data-power="Delete" lay-event="del">删除</a>
</script>

@section css{
    <link rel="stylesheet" href="/assets/module/formSelects/formSelects-v4.css" />
    <style>
        .layui-table-cell {
            height: auto;
            line-height: 28px;
        }

        .layui-table img {
            max-width: 600px;
        }

    </style>
}
@section js{
    <!-- js部分 -->
    <script>
        layui.use(['form', 'util', 'admin', 'adminList', 'adminForm'], function () {
    var $ = layui.jquery;
    var util = layui.util;
    var admin = layui.admin;
    var adminList = layui.adminList;
    var adminForm = layui.adminForm;

    // 渲染表格
    var insTb = adminList.tableLayUI({
        elem: '#userTable',
        url: '@Url.Action("GetDataSource")',
        page: true,
        cellMinWidth: 100,
        cols: [[
            { type: 'numbers' },
            { field: 'StudentName', title: '学员', fixed: 'left', sort: true },
            { field: 'Amount', title: '收款金额', sort: true },
            { field: 'AddedAmount', title: '使用优惠金额', sort: true },
            {
                field: 'PayMothed', title: '收款方式', sort: true, templet: function (d) {
                    if (d.PayMothed == 1)
                        return "现金";
                    else if (d.PayMothed == 2)
                        return "刷卡";
                    else if (d.PayMothed == 3)
                        return "汇款";
                }
            },
            { field: 'CampusName', title: '校区', sort: true },
            { field: 'RelationShip_Contras', title: '关联合同', width: 180, sort: true },
            { field: 'Collection_Time', title: '收款日期', sort: true },
            { field: 'User_Name', title: '创建人', sort: true },
            {
                field: 'PayStatus', title: '状态', sort: true, width: 120, templet: function (d) {
                    if (d.PayStatus == 0) {
                        return "待确认";
                    }
                   else  if (d.PayStatus ==1) {
                        return "已确认";
                    }
                   else if (d.PayStatus == 2) {
                        return "已驳回";
                    }
                }
            },
            { align: 'center', toolbar: '#tableBar', fixed: 'right', title: '操作', width: 300}
        ]]
    });

    // 添加
    $('#btnAdd').click(function () {
        showEditModel();
    });

    // 搜索
    $('#btnSearch').click(function () {
        var title = $('#txtTitle').val();
        var startTime = $('input[name="StartTime"]').val();
        var endTime = $('input[name="EndTime"]').val();
        insTb.reload({
            where: { title: title, startTime: startTime,endTime:endTime}
            , page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    });

    // 工具条点击事件
    adminList.table.on('tool(userTable)', function (obj) {
        var data = obj.data;
        var layEvent = obj.event;
        if (layEvent === 'edit') { // 修改
            showEditModel(data);
        } else if (layEvent === 'del') { // 删除
            doDel(data.Id);
        } else if (layEvent === 'config') { // 确认收款
            config(data, true);
        } else if (layEvent === 'reject') { // 驳回收款
            config(data, false);
        }
    });

    //显示表单弹窗
    function showEditModel(vmodel) {
        adminList.form({
            title: (vmodel ? '修改' : '添加') + '来款登记',
            type: 2,
            width: "880px",
            height: "630px",
            content: vmodel ? '@Url.Action("Edit")?Id=' + vmodel.Id : '@Url.Action("Add")?Id=0',
            end: function () {
                insTb.reload();
            }
        });
    }
    //确认/驳回收款
    function config(vmodel, through) {
         adminForm.Save({
             url: '@Url.Action("ConfigCollection")',
             data: { Id: vmodel.Id,through: through},
             callBack: function () {
                 insTb.reload();
            }
        })
    }
    //删除
    function doDel(Id) {
        adminList.delete('@Url.Action("Delete")', { Id: Id}, function () {
            insTb.reload();
        });
    }

});
    </script>
}